<section class="about-project-moses">
    <h1>About Project Moses</h1>
    <p>Project Moses is a Crisis Response Toolbox that aims to be an all-in-one platform for Filipinos in times of
        calamity and crisis. It is a publicly accessible collaboration toolbox using Information Communication
        Technology (ICT) meant to connect crisis response actors.</p>
    <p>
        The tools in Project Moses to meant to address the issues on lack of relevant and real-time information to help
        stop the wildfire of misinformation and promote information that would assuage fears, understand risk, implement
        effective social distancing and improve our public health.</p>
    </p>
    <p>
        Although primarily built in the midst of the COVID-19 Pandemic, Project Moses aims to still be a relevant and
        useful platform for the public even during times of peace and order.
    </p>
    <p>
        The toolbox contains the following feature-modules:
        <ol>
            <li>A data aggregator of all news from reliable sources both national and local news outlets</li>
            <li>A crowd-sourced information about establishments and infrastructure so you know which ones are still
                open for business and use</li>
            <li>A self-diagnostic tool with the latest DOH algorithm</li>
            <li>A platform to proactively add information regarding their hospital, COVID cases, hospital needs,
                hospital staff, hospital bed and ventilator capacity, hospital rating, hospital’s capacity to quarantine
                and hospital COVID19 readiness</li>
            <li>Case tracker dashboards for COVID19 both national and international</li>
            <li>A matching tool for potential patients/patients under investigation to hospitals receiving these types
                of patients and can give care</li>
            <li>A platform that connects the Donors with Donations like Relief Goods and Medical Supplies; Sellers and
                buyers of medical supplies and relief goods; and Lenders and Borrowers of bikes, scooters, van, trucks
                and the like</li>
        </ol>
    </p>
    <div class="team">
        <h2>The Team</h2>
        <p>A social tech enterprise that primarily assists NGOs, SMEs and Startups to adapt to digital transformation of
            society, and social and environmental concern challenges. We advocate solutions to wicked problems that few
            dare to solve. A world where more people are empowered to marry the concern for social justice,
            environmental justice, and public and private sectors interest using information & technology systems. </p>
        <div>
            <div>
                <h3>Core</h3>
                <ul class="grid-container">
                    <li>
                        <div class="about-image-container">
                            <img src="./ASSETS/img/profile-rage.jpg" alt="">
                        </div>
                        <div class="about-name">
                            <h4>Rage Gonzales</h4>
                            <h5>Project Leader</h5>
                        </div>
                    </li>
                    <li>
                        <div class="about-image-container">
                            <img src="./ASSETS/img/profile-prince.jpg" alt="">
                        </div>
                        <div class="about-name">
                            <h4>Prince Javier</h4>
                            <h5>Head Developer</h5>
                        </div>
                    </li>
                    <li>
                        <div class="about-image-container">
                            <img src="https://api.adorable.io/avatars/100/*" alt="">
                        </div>
                        <div class="about-name">
                            <h4>Iris Joy Gonzales</h4>
                            <h5>Volunteer Hub Lead</h5>
                        </div>
                    </li>
                    <li>
                        <div class="about-image-container">
                            <img src="https://api.adorable.io/avatars/100/*" alt="">
                        </div>
                        <div class="about-name">
                            <h4>Atty. Ferdinand Maliwanag</h4>
                            <h5>Stakeholder Engagement Co-Lead</h5>
                        </div>
                    </li>
                    <li>
                        <div class="about-image-container">
                            <img src="https://api.adorable.io/avatars/100/*" alt="">
                        </div>
                        <div class="about-name">
                            <h4>Prof. Agerico De Villa</h4>
                            <h5>Stakeholder Engagement Lead</h5>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="grid-container">
                <div>
                    <h3>Design</h3>
                    <ul>
                        <li>
                            <div class="about-image-container">
                                <img src="./ASSETS/img/profile-justin.jpg" alt="">
                            </div>
                            <div class="about-name">
                                <h4>Justin Abello Éxito</h4>
                                <h5>User Experience</h5>
                            </div>
                        </li>
                        <li>
                            <div class="about-image-container">
                                <img src="./ASSETS/img/profile-bea.jpg" alt="">
                            </div>
                            <div class="about-name">
                                <h4>Bea Tristhan Garcia</h4>
                                <h5>Graphics</h5>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- div>
                    <h3>Contenth3>
                    <ul>
                        <li>Data needs to be here</li>
                    </ul>  
                </div !-->
                <div>
                    <h3>Development</h3>
                    <ul>
                        <li>
                            <div class="about-image-container">
                                <img src="./ASSETS/img/profile-jason.jpg" alt="">
                            </div>
                            <div class="about-name">
                                <h4>Jason Rayga</h4>
                                <h5>Frontend</h5>
                            </div>
                        </li>
                        <li>
                            <div class="about-image-container">
                                <img src="https://api.adorable.io/avatars/100/*" alt="">
                            </div>
                            <div class="about-name">
                                <h4>Arlene Cheryl Calleja-Oting</h4>
                                <h5>News Tool Lead</h5>
                            </div>
                        </li>
                        <li>
                            <!--<div class="about-image-container">
                                <img src="https://api.adorable.io/avatars/100/*" alt="">
                            </div>
                            <div class="about-name">
                                <h4>Rafael Formes</h4>
                                <h5>Backend</h5>
                            </div>-->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="contributors">
        <h2>Contributors</h2>
        <p>We'd like to express and heartfelt thanks and appreciation to the following people and organizations for
            providing us with help during the COVID-19 pandemic.</p>
        <h3>Volunteers</h3>
        <ul class="grid-container">
            <li>
                <div class="about-name">
                    <h4>Eleanor Uboan</h4>
                    <h5>Triage translation</h5>
                </div>
            </li>
            <li>
                <div class="about-name">
                    <h4>Xander Uboan</h4>
                    <h5>Triage translation</h5>
                </div>
            </li>
            <li>
                <div class="about-name">
                    <h4>Czarisse Manlangit</h4>
                    <h5>Social media post</h5>
                </div>
            </li>
            <li>
                <div class="about-name">
                    <h4>Ismael Mangondato</h4>
                    <h5>Triage translation</h5>
                </div>
            </li>
            <li>
                <div class="about-name">
                    <h4>Pau</h4>
                    <h5>Additionatl inputs on the app</h5>
                </div>
            </li>
            <li>
                <div class="about-name">
                    <h4>Dino Manrique</h4>
                    <h5>Irigueno who connected us with the OVP</h5>
                </div>
            </li>
            <li>
                <div class="about-name">
                    <h4>Brian Dy</h4>
                    <h5>Insights on web development</h5>
                </div>
            </li>
            <li>
                <div class="about-name">
                    <h4>Jude Teves</h4>
                    <h5>Insights on web development</h5>
                </div>
            </li>
            <li>
                <div class="about-name">
                    <h4>Raf Formes</h4>
                    <h5>Volunteer Backend developer</h5>
                </div>
            </li>
            <li>
                <div class="about-name">
                    <h4>Raymond Delos Santos</h4>
                    <h5>Volunteer Frontend developer</h5>
                </div>
            </li>
            <li>
                <div class="about-name">
                    <h4>Dr. Hannah Moreno</h4>
                    <h5>Doctors on the ground (consultant)</h5>
                </div>
            </li>
            <li>
                <div class="about-name">
                    <h4>Dr. Justine Yu</h4>
                    <h5>Doctors on the ground (consultant)</h5>
                </div>
            </li>
            <li>
                <div class="about-name">
                    <h4>Dr. FVA De Los Reyes</h4>
                    <h5>Doctors on the ground (consultant)</h5>
                </div>
            </li>
        </ul>
        <h3>Expert Consultants</h3>
        <ul>
            <li>Dr. Kenneth Hartigan-Go</li>
            <li>Dr. Ronald Mendoza</li>
            <li>Ms. Ivyrose Baysic</li>
            <li>Atty Aison garcia</li>
        </ul>
        <h3>Special Thanks</h3>
        <ul>
            <li>Catholic Media Network</li>
            <li>St Claire Hospital</li>
            <li>Seaoil Foundation</li>
        </ul>
    </div>
</section>