<!DOCTYPE html>
<html lang="en" ng-app="onload">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- SEO/SMO Values-->
    <title>Project Moses</title>
    <meta itemprop="name" content="Project Moses">
    <meta itemprop="url" content="https://projectmoses.ph/">
    <meta name="description"
        content="Project Moses is a Crisis Response Toolbox that aims to be an all-in-one web dashboard for Filipinos for times of calamity and crisis.">

    <!-- Schema -->

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="Project Moses">
    <meta name="twitter:site" content="">

    <!-- Facebook Opengraph data -->
    <meta property="og:title" content="Welcome to Project Moses">
    <meta property="og:description"
        content="Project Moses is a Crisis Response Toolbox that aims to be an all-in-one web dashboard for Filipinos in times of calamity and crisis.">
    <meta property="og:image" content="./ASSETS/img/project-moses-social.jpg">
    <meta property="og:url" itemprop="url" content="https://projectmoses.ph/">
    <meta property="og:site_name" content="Project Moses">
    <meta property="og:type" content="website">

    <!-- FAVICONS START -->
    <link rel="apple-touch-icon" sizes="180x180" href="./ASSETS/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./ASSETS/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./ASSETS/favicons/favicon-16x16.png">
    <link rel="manifest" href="./ASSETS/favicons/site.webmanifest">
    <link rel="mask-icon" href="./ASSETS/favicons/safari-pinned-tab.svg" color="#299bd7">
    <meta name="apple-mobile-web-app-title" content="Project Moses">
    <meta name="application-name" content="Project Moses">
    <meta name="msapplication-TileColor" content="#299bd7">
    <meta name="theme-color" content="#299bd7">
    <!-- FAVICONS END -->

    <!-- GOOGLE ANALYTICS START -->

    <!-- GOOGLE ANALYTICS END -->

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="./ASSETS/css/main.min.css">
    <link rel="stylesheet" href="./ASSETS/css/misc.min.css">
    <link rel="stylesheet" href="./ASSETS/css/responsive.min.css">
    <link rel="stylesheet" href="./ASSETS/css/icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap">

    <!-- Custom CSS FILES START-->
    <link rel="stylesheet" href="./ASSETS/css/bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" href="./ASSETS/css/loader.css">
    <link rel="stylesheet" href="./ASSETS/css/uploader-loader.css">
    <link rel="stylesheet" href="./ASSETS/css/custom.css">
    <link rel="stylesheet" href="./ASSETS/plugins/animate/animate.css">
    <!-- Custom CSS FILES END-->

    <!-- AngularJS Plugins CSS START-->
    <link rel="stylesheet" href="./ASSETS/plugins/ngDialog/ngDialog.css">
    <link rel="stylesheet" href="./ASSETS/plugins/ngDialog/ngDialog-theme-default.css">
    <link rel="stylesheet" href="./ASSETS/plugins/ngDialog/ngDialog-theme-plain.css">
    <link rel="stylesheet" href="./ASSETS/plugins/angular-multi-select/isteven-multi-select.css">
    <!-- AngularJS Plugins CSS END-->

    <!-- AngularJS MainJS -->
    <script src="./ASSETS/plugins/angularjs/angular.min.js"></script>

</head>

<body id="body" class="preload-transitions" ng-controller="Index" ng-cloak>
    <!-- <div class="language-selector-bar" id="langBar">
        <div class="language-selector">
            <p><strong>English</strong> | <a href="">Select Language</a> <span class="icon right icon-cancel"
                    id="langbarClose"></span></p>
        </div>
    </div> -->
    <header>
        <div class="header-logo">
            <a href="#/" title="Project Moses" alt="Project Moses"><img src="./ASSETS/img/main-logo.png"
                    alt="Project Moses Logo" title="Project Moses"></a>
        </div>
        <div class="header-buttons for-wide">
            <div class="button triage">
                <a href="#/self-triage">Feeling <strong>Sick?</strong></a>
            </div>
            <div ng-if="!isLoggedIn" class="button hospital">
                <a href="#/hospital-login">Hospital Login</a>
            </div>
            <div ng-if="isLoggedIn" ng-click="logOut()" class="button hospital">
                <a href="">Hospital Logout</a>
            </div>
        </div>
    </header>
    <div class="bottom-cta-buttons-bar">
        <div class="header-buttons">
            <div class="button triage">
                <a href="#/self-triage">Feeling <strong>Sick?</strong></a>
            </div>
            <div ng-if="!isLoggedIn" class="button hospital">
                <a href="#/hospital-login">Hospital Login</a>
            </div>
            <div ng-if="isLoggedIn" ng-click="logOut()" class="button hospital">
                <a href="">Hospital Logout</a>
            </div>
        </div>
    </div>
    <nav class="mobile">
        <div class="nav-bar" id="mobile-nav-menulink"><span class="icon-th-menu icon left"></span>MENU</div>
        <div class="nav-dropdown" id="mobile-nav-dropdown">
            <a href="#/" ng-click="activeNav = '/'">
                <li ng-class="{current: activeNav === '/'}">Home</li>
            </a>
            <a href="#/self-triage" ng-click="activeNav = '/self-triage'">
                <li ng-class="{current: activeNav === '/self-triage'}">Self-Triage</li>
            </a>
            <li class="navlink" id="navlink-trackers">Real-Time Trackers</li>
            <ul class="secondary-dropdown" id="nav-trackers">
                <a href="#/doh-tracker" ng-click="activeNav = '/doh-tracker'">
                    <li ng-class="{current: activeNav === '/doh-tracker'}">DOH nCoV Tracker</li>
                </a>
                <a href="#/jhu-tracker" ng-click="activeNav = '/jhu-tracker'">
                    <li ng-class="{current: activeNav === '/jhu-tracker'}">JHU Interactive Map</li>
                </a>
            </ul>
            <a href="#/hospital-directory/null/null/null" ng-click="activeNav = '/hospital-directory'">
                <li ng-class="{current: activeNav === '/hospital-directory'}">Hospital Directory</li>
            </a>
            <li class="navlink" id="navlink-citizens">Citizens Patrol</li>
            <ul class="secondary-dropdown" id="nav-citizens">
                <a href="#/citizen-patrol/clinics">
                    <li>Clinics</li>
                </a>
                <a href="#/citizen-patrol/grocery">
                    <li>Grocery Stores</li>
                </a>
                <a href="#/citizen-patrol/pharmacies">
                    <li>Pharmacies</li>
                </a>
                <a href="#/citizen-patrol/roads">
                    <li>Roads</li>
                </a>
                <a href="#/citizen-patrol/submit-report">
                    <li>Submit Report</li>
                </a>
            </ul>
            <li class="navlink" id="navlink-news">Latest News</li>
            <ul class="secondary-dropdown" id="nav-news">
                <a href="#/government-announcements">
                    <li>Government Announcements</li>
                </a>
                <a href="#/news-media">
                    <li>News Media</li>
                </a>
            </ul>
            <li class="navlink" id="navlink-resources">Resources</li>
            <ul class="secondary-dropdown" id="nav-resources">
                <a href="#/resources/official-statements">
                    <li>Official Statements Archive</li>
                </a>
                <a href="#/resources/faqs">
                    <li>FAQs</li>
                </a>
                <a href="#/resources/emerging-research">
                    <li>Emerging Research</li>
                </a>
                <a href="#/resources/useful-links">
                    <li>Useful Links</li>
                </a>
                <a href="#/resources/apps-tracker">
                    <li>COVID-19 Apps</li>
                </a>
            </ul>
        </div>
    </nav>
    <nav class="wide">
        <div class="main-nav-bar">
            <a href="#/" ng-click="activeNav = '/'">
                <li ng-class="{current: activeNav === '/'}">Home</li>
            </a>
            <a href="#/self-triage" ng-click="activeNav = '/self-triage'">
                <li ng-class="{current: activeNav === '/self-triage'}">Self-Triage</li>
            </a>
            <li ng-class="{current: activeNav === '/trackers'}" class="navlink" id="navlink-trackers-w">Real-Time
                Trackers</li>
            <a href="#/hospital-directory/null/null/null" ng-click="activeNav = '/hospital-directory'">
                <li ng-class="{current: activeNav === '/hospital-directory'}">Hospital
                    Directory</li>
            </a>
            <a href="#/hospital-portal" ng-click="activeNav = '/hospital-portal'">
                <li ng-class="{current: activeNav === '/hospital-portal'}">Hospital
                    Portal</li>
            </a>
            <li class="navlink" id="navlink-citizens-w">Citizens Patrol</li>
            <li ng-class="{current: activeNav === '/news-media'}" class="navlink" id="navlink-news-w">Latest News</li>
            <li class="navlink" ng-class="{current: activeNav === 'resources'}" id="navlink-resources-w">Resources
            </li>
        </div>
        <div class="nav-panel" id="nav-trackers-w">
            <div class="panel-container">
                <div class="col1">
                    <h4>Real-Time COVID-19 Tracker Dashboards</h4>
                    <p>These online tools are handy for getting both a overview of the how local and internal
                        populations are faring. They feature real-time data organized for easy analysis and are
                        maintained by leading organizations both within the Philippines and the world at large.</p>
                </div>
                <div class="col2 trackers">
                    <a href="#/doh-tracker"
                        ng-click="activeNav = '/trackers'; dropDownClose('navlink-trackers-w', 'nav-trackers-w');">
                        <div class="card">
                            <div class="card-left"><img src="./ASSETS/img/doh.png" alt=""></div>
                            <div class="card-right">
                                <h5>Department of Health COVID-19 Tracker</h5>
                                <p>This is the official and updated COVID-19 Case Tracker. Originally the DOH nCoV
                                    Tracker, the new version collates case data and health system capacity accross the
                                    Phiippines</p>
                            </div>
                        </div>
                    </a>
                    <a href="#/jhu-tracker"
                        ng-click="activeNav = '/trackers'; dropDownClose('navlink-trackers-w', 'nav-trackers-w');">
                        <div class="card">
                            <div class="card-left"><img src="./ASSETS/img/jhu.png" alt=""></div>
                            <div class="card-right">
                                <h5>Johns Hopkins University Interactive Map</h5>
                                <p>The JHU Coronavirus COVID-19 Global Cases Dashboard by the Center for Systems Science
                                    and Engineering (CSSE) at Johns Hopkins University (JHU) is an online dashboard
                                    featuring a real-time world map, US Map, and trends tracker</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="nav-panel" id="nav-citizens-w">
            <div class="panel-container">
                <div class="col1">
                    <h4>Citizens Patrol</h4>
                    <p>We continuously collect and collate crowdsourced information about establishments and
                        infrastructure so you know which ones are still open for business and use.</p>
                    <p>If you have any information about a location, please contribute by submitting a Citizen Report!
                    </p>
                </div>
                <div class="col2 citizens">
                    <div class="citizens-cards-container">
                        <a href="#/citizen-patrol/clinics"
                            ng-click="dropDownClose('navlink-citizens-w', 'nav-citizens-w');" class="card">
                            <div class="card-image-container"><img src="./ASSETS/img/icon-clinic.png" alt=""></div>
                            <div class="card-text-container">
                                <h6>Clinics</h6>
                            </div>
                        </a>
                        <a href="#/citizen-patrol/grocery"
                            ng-click="dropDownClose('navlink-citizens-w', 'nav-citizens-w');" class="card">
                            <div class="card-image-container"><img src="./ASSETS/img/icon-grocery.png" alt=""></div>
                            <div class="card-text-container">
                                <h6>Grocery Stores</h6>
                            </div>
                        </a>
                        <a href="#/citizen-patrol/pharmacies"
                            ng-click="dropDownClose('navlink-citizens-w', 'nav-citizens-w');" class="card">
                            <div class="card-image-container"><img src="./ASSETS/img/icon-drugstore.png" alt=""></div>
                            <div class="card-text-container">
                                <h6>Pharmacies</h6>
                            </div>
                        </a>
                        <a href="#/citizen-patrol/roads"
                            ng-click="dropDownClose('navlink-citizens-w', 'nav-citizens-w');" class="card">
                            <div class="card-image-container"><img src="./ASSETS/img/icon-road.png" alt=""></div>
                            <div class="card-text-container">
                                <h6>Roads</h6>
                            </div>
                        </a>
                    </div>
                    <a href="#/citizen-patrol/submit-report"
                        ng-click="dropDownClose('navlink-citizens-w', 'nav-citizens-w');" class="card">
                        <div class="card-left"><img src="./ASSETS/img/icon-submit-report.png" alt=""></div>
                        <div class="card-right">
                            <h6>Submit Citizen's Report Now</h6>
                        </div>
                    </a>

                </div>
            </div>
        </div>
        <div class="nav-panel" id="nav-news-w">
            <div class="panel-container">
                <div class="col1">
                    <h4>Latest News and Announcements</h4>
                    <p>Keep yourself informed by staying up to date with the latest developments of the COVID-19
                        Pandemic in the Philippines and the rest of the global community.</p>
                </div>
                <div class="col2 news">
                    <a href="#/government-announcements" ng-click="dropDownClose('navlink-news-w', 'nav-news-w');">
                        <div class="card">
                            <div class="card-left"><img src="./ASSETS/img/icon-govt-news.png" alt=""></div>
                            <div class="card-right">
                                <h5>Government Announcements</h5>
                                <p>Browse through the archive of all the official announcements, press releases,
                                    resolutions, and briefings published by the Philippine Government</p>
                            </div>
                        </div>
                    </a>
                    <a href="#/news-media"
                        ng-click="activeNav = '/news-media'; dropDownClose('navlink-news-w', 'nav-news-w');">
                        <div class="card">
                            <div class="card-left"><img src="./ASSETS/img/icon-news-media.png" alt=""></div>
                            <div class="card-right">
                                <h5>News Media</h5>
                                <p>The News Media Aggregator automatically collects the latest updates and reports of a
                                    curated list of trusted news sources</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="nav-panel" id="nav-resources-w">
            <div class="panel-container">
                <div class="col1 resources">
                    <h4>Resources and Tools</h4>
                    <p>Our collection of online tools and platforms and content resources will help you and your
                        loved ones stay safe during this time of crisis.</p>
                </div>
                <div class="col2 resources">
                    <a href="#/resources/official-statements"
                        ng-click="dropDownClose('navlink-resources-w', 'nav-resources-w');">
                        <div class="card">
                            <div class="card-left"><img src="./ASSETS/img/icon-official-statements.png" alt=""></div>
                            <div class="card-right">
                                <h5>Official Statements Archive</h5>
                                <p>An archive of all policies, statements, guidelines, reports, and advisories made by
                                    the Philippine government and its agencies.</p>
                            </div>
                        </div>
                    </a>
                    <a href="#/resources/faqs" ng-click="dropDownClose('navlink-resources-w', 'nav-resources-w');">
                        <div class="card">
                            <div class="card-left"><img src="./ASSETS/img/icon-faq.png" alt=""></div>
                            <div class="card-right">
                                <h5>FAQ<small>s</small></h5>
                                <p>A collection of the most frequently asked and relevant inquiries and their
                                    answers</p>
                            </div>
                        </div>
                    </a>
                    <a href="#/resources/emerging-research"
                        ng-click="dropDownClose('navlink-resources-w', 'nav-resources-w');">
                        <div class="card">
                            <div class="card-left"><img src="./ASSETS/img/icon-research.png" alt=""></div>
                            <div class="card-right">
                                <h5>Emerging Research</h5>
                                <p>A curated list of sources and links to research being done in the fight against
                                    COVID-19</p>
                            </div>
                        </div>
                    </a>
                    <a href="#/resources/useful-links"
                        ng-click="dropDownClose('navlink-resources-w', 'nav-resources-w');">
                        <div class="card">
                            <div class="card-left"><img src="./ASSETS/img/icon-links.png" alt=""></div>
                            <div class="card-right">
                                <h5>Useful Links</h5>
                                <p>Links to useful websites, including those for government agencies and interntional
                                    organizations tasked with managing the pandemic and its effects</p>
                            </div>
                        </div>
                    </a>
                    <a href="#/resources/apps-tracker"
                        ng-click="dropDownClose('navlink-resources-w', 'nav-resources-w');">
                        <div class="card">
                            <div class="card-left"><img src="./ASSETS/img/icon-apps.png" alt=""></div>
                            <div class="card-right">
                                <h5>COVID-19 Apps</h5>
                                <p>Online applications and tools meant to help you stay healthy and informed</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <main id="mainContent" ng-if="!hideMainTag" ng-view></main>
    <div ng-if="hideMainTag" class="container">
        <div class="row loader-row">
            <div class="col-sm-12 col-md-12 col-lg-12 d-flex align-items-center justify-content-center">
                <div class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <section class="kneeler">
            <div class="kneeler-proper">
                <div class="about">
                    <h4>About</h4>
                    <p>Project Moses is a Crisis Response Toolbox that aims to be an all-in-one web dashboard for
                        Filipinos in times of calamity and crisis mainly and should still be relevant even in times of
                        peace. We are starting with a Virtual Triage that could match patients with hospitals. It is a
                        publicly accessible collaboration tool using Information Communication Technology (ICT) meant to
                        connect COVID-19 response actors.</p>
                    <a href="#/about">Learn More About the Project</a>
                </div>
                <div class="kneeler-links col1">
                    <h4>Tools</h4>
                    <a href="#/self-triage">
                        <li>Self-Triage Tool</li>
                    </a>
                    <a href="#/hospital-directory/null/null/null">
                        <li>Hospital Directory</li>
                    </a>
                    <li><a href="#/hospital-portal">Hospital Portal</a></li>
                </div>
                <div class="kneeler-links col2">
                    <h4>Info</h4>
                    <li><a href="#/citizen-patrol/clinics">Clinics</a></li>
                    <li><a href="#/citizen-patrol/grocery">Grocery Stores</a></li>
                    <li><a href="#/citizen-patrol/pharmacies">Pharmacies</a></li>
                    <li><a href="#/citizen-patrol/roads">Roads</a></li>
                </div>
                <div class="kneeler-links col3">
                    <h4>News</h4>
                    <a href="#/government-announcements">
                        <li>Government Announcements</li>
                    </a>
                    <a href="#/news-media">
                        <li>News Media Aggregator</li>
                    </a>
                </div>
                <div class="kneeler-links col4">
                    <h4>Resources</h4>
                    <a href="#/resources/official-statements">
                        <li>Official Statements Archive</li>
                    </a>
                    <a href="#/resources/faqs">
                        <li>FAQs</li>
                    </a>
                    <a href="#/resources/emerging-research">
                        <li>Emerging Research</li>
                    </a>
                    <a href="#/resources/emerging-research">
                        <li><a href="#/resources/useful-links">Useful Links</li>
                    </a>
                    <a href="#/resources/apps-tracker">
                        <li>COVID-19 Apps</li>
                    </a>
                </div>
            </div>
            <img src="./ASSETS/img/logo-white.png" alt="" class="white-logo">
            <div class="socmed-container">
                <a href="https://www.facebook.com/Bridge360PH" title="Like us on Facebook!" target="_blank"><span
                        class="icon icon-facebook-square"></span></a>
                <a href="https://twitter.com/bridge360PH" title="Follow us on Twitter!" target="_blank"><span
                        class="icon icon-twitter-square"></span></a>
                <a href="https://www.linkedin.com/company/bridge360ph/" title="Follow us on LinkedIn!"
                    target="_blank"><span class="icon icon-linkedin-square"></span></a>
            </div>
        </section>
        <section class="foot">
            <p>{{yearNow}} Copyright Bridge 360. All Rights Reserved.</p>
        </section>

    </footer>

    <!-- JS Dependencies -->
    <script src="./ASSETS/javascripts/main.min.js"></script>
    <script src="./ASSETS/plugins/jquery/jquery.min.js"></script>
    <script src="./ASSETS/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="./ASSETS/plugins/alasql/alasql.min.js"></script>
    <script src="./ASSETS/plugins/jwt-decode/jwt-decode.min.js"></script>

    <!-- AngularJS Dependencies -->
    <script src="./ASSETS/plugins/angularjs/angular-route.min.js"></script>
    <script src="./ASSETS/plugins/angular-multi-select/isteven-multi-select.js"></script>
    <script src="./ASSETS/plugins/ngDialog/ngDialog.min.js"></script>
    <script src="./ASSETS/plugins/angular-file-upload/file-upload.min.js"></script>
    <script src="./ASSETS/plugins/lodash/lodash.min.js"></script>
    <script src="./ASSETS/plugins/angular-css/angular-css.min.js"></script>
    <script src="./ASSETS/plugins/angularjs/angular-animate.min.js"></script>

    <!-- AngularJS Module, Controllers & Factories -->
    <script src="./public/minified/all.min.js"></script>

    <script src="./angular/directives/isNumber.js"></script>

</body>

</html>