<div class="apps">
    <section class="header">
        <h1>COVID-19 Apps</h1>
        <p>Come and be part of the FIGHT AGAINST COVID-19! Here are some useful apps, tools, platforms, groups, and
            information portals.</p>
    </section>
    <div class="subnav">
        <a ng-click="scrollTo('trackers')" href="">Case Trackers</a>
        <span> | </span>
        <a ng-click="scrollTo('triage')" href="">Self-Assessment</a>
        <span> | </span>
        <a ng-click="scrollTo('mobile-apps')" href="">Mobile Applications</a>
        <span> | </span>
        <a ng-click="scrollTo('donations')" href="">Donation Platforms</a>
        <span> | </span>
        <a ng-click="scrollTo('transpo')" href="">Transportation Groups & Tools</a>
        <span> | </span>
        <a ng-click="scrollTo('citizens')" href="">Citizens in Action</a>
        <span> | </span>
        <a ng-click="scrollTo('government')" href="">Government Efforts</a>
        <span> | </span>
        <a ng-click="scrollTo('devs')" href="">For Developers</a>
    </div>
    <section class="app-group trackers" id="trackers">
        <h2>Case Trackers</h2>
        <div class="app-card-container">
            <a href="https://ourworldindata.org/coronavirus#what-do-we-know-about-the-risk-of-dying-from-covid-19"
                target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-ourworld.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            Our World in Data
                        </h3>
                        <p>WHO Recognized</p>
                    </div>
                </div>
            </a>
            <a href="https://www.coronatracker.com" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-coronatracker.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            CoronaTracker
                        </h3>
                        <p>WHO Recognized</p>
                    </div>
                </div>
            </a>
            <a href="https://endcov.ph/dashboard/" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-noah.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            COVD-19 Information
                        </h3>
                        <p>By UP, UPRI, and Project NOAH</p>
                    </div>
                </div>
            </a>
            <a href="https://covid19ph.com" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-covid-19-ph.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            COVD-19 PH Data and Case Tracker
                        </h3>
                    </div>
                </div>
            </a>
            <a href="https://the2019ncov.com" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-worldwide-tracker.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            COVID-19 Worldwide Confirmed Case Tracker
                        </h3>
                    </div>
                </div>
            </a>
            <a href="https://covidwatch.ph" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-covidwatch-ph.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            COVIDWatch.PH
                        </h3>
                        <p>By CreatvStudio</p>
                    </div>
                </div>
            </a>
            <a href="https://public.tableau.com/profile/sandra.tabinas#/vizhome/COVID-19PHDashboard-Analysis/Dashboard"
                target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-tableau-tabinas.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            Tableau COVID-19 PH Tracker
                        </h3>
                        <p>By Sabrina Tabinas</p>
                    </div>
                </div>
            </a>
        </div>
    </section>
    <section class="app-group triage" id="triage">
        <h2>Self-Assessment</h2>
        <div class="app-card-container">
            <a href="https://fightcovid.app" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-fightcovid.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            FightCovid.App
                        </h3>
                    </div>
                </div>
            </a>
            <a href="https://symptom-tracker.tedhouse.org" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-symptom-tracker.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            Symptom Tracker
                        </h3>
                    </div>
                </div>
            </a>
            <a href="https://www.botmd.io/en/" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-botmd.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            BotMD
                        </h3>
                    </div>
                </div>
            </a>
            <a href="https://app.phcovid19.com" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-recovr.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            Recovr PH
                        </h3>
                    </div>
                </div>
            </a>
        </div>
    </section>
    <section class="app-group mobile-apps" id="mobile-apps">
        <h2>Mobile Applications</h2>
        <div class="app-card-container">
            <a href="https://play.google.com/store/apps/details?id=com.voxptech.rc143" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-red-crossPH.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            Philippine Red Cross
                        </h3>
                    </div>
                </div>
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.dxform.ph" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-we-trace.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            WeTrace
                        </h3>
                    </div>
                </div>
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.end.cov" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-end-cov.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            ENDCoV
                        </h3>
                    </div>
                </div>
            </a>
        </div>
    </section>
    <section class="app-group donations" id="donations">
        <h2>Donation Platforms</h2>
        <div class="app-card-container">
            <a href="https://helpfromhome.ph" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-help-from-home.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            Help From Home
                        </h3>
                    </div>
                </div>
            </a>
            <a href="http://puhon.ph" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-puhon.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            Puhon
                        </h3>
                        <p>SparkProject</p>
                    </div>
                </div>
            </a>
            <a href="https://noypimaps.github.io/covideffortsph/" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-bayanihan.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            #Bayanihan
                        </h3>
                        <p>Efforts List</p>
                    </div>
                </div>
            </a>
            <a href="https://wecare.ph/" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-wecare.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            WeCARE
                        </h3>
                    </div>
                </div>
            </a>
        </div>
    </section>
    <section class="app-group transpo" id="transpo">
        <h2>Transportation Groups & Tools</h2>
        <div class="app-card-container">
            <a href="https://covid.sakay.ph/" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-sakay.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            Sakay
                        </h3>
                    </div>
                </div>
            </a>
            <a href="https://www.facebook.com/lifecyclesph/" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-lifecycles.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            Life Cycles PH
                        </h3>
                    </div>
                </div>
            </a>
            <a href="https://www.google.com/maps/d/u/0/viewer?fbclid=IwAR0YyEg3gtot-PiYxiOC3NerMoW73lMrVXz_wFn9d61L7odXOPmtWrrcRVY&ll=14.612175997748091%2C121.07479357353986&mid=1gryKdZmJDKVD6ueNfs_qjYuJ3c8tJy2A&z=12"
                target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-gmap.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            Hospital Shuttle Route Map
                        </h3>
                        <p>by DOTr</p>
                    </div>
                </div>
            </a>
        </div>
    </section>
    <section class="app-group citizens" id="citizens">
        <h2>Citizens in Action</h2>
        <div class="app-card-container">
            <a href="https://docs.google.com/spreadsheets/d/1mIY9cAz1d0GVuaFGH3Rgxcj8JWfIJzjZVekzGHT7bKw/edit#gid=220284502"
                target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-how-to-excel.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            How to Help Out During COVID-19
                        </h3>
                    </div>
                </div>
            </a>
            <a href="https://gist.githubusercontent.com/kimerran/589f11e0bac96a97312d11804e939221/raw/a55150cc8f5dda8eb95e15ae69bd43f65072a8e6/ONLINE%2520GROCERIES.md"
                target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-online-groceries.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            Online Groceries
                        </h3>
                    </div>
                </div>
            </a>
            <a href="https://www.reddit.com/r/Coronavirus_PH/" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-reddite.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            Reddit CoronavirusPH
                        </h3>
                    </div>
                </div>
            </a>
            <a href="https://sites.google.com/view/covid-19-info-ph/hotlines" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-hotlines-covid.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            Covid 19 Hotlines
                        </h3>
                    </div>
                </div>
            </a>
            <a href="https://www.facebook.com/groups/2831079386941950/" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-3dprinting.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            3D Printing for A Cause Community
                        </h3>
                    </div>
                </div>
            </a>
            <a href="https://www.ticket2me.net/e/5678" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-kayanatin.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            Fundraising of Kaya Natin
                        </h3>
                    </div>
                </div>
            </a>
            <a href="https://www.facebook.com/covid19fooddriveph" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-food-drive.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            Covid19 Food Drive
                        </h3>
                    </div>
                </div>
            </a>
            <a href="https://docs.google.com/spreadsheets/d/1WHiJGI7Au-lVNNTKLwK5LYnXWNhCLh7Y5nc00rKcU00/edit?fbclid=IwAR1iADcAMuVfY6hZgzU9tBuIOiqM5LWWDCJ7BIT3Aam7fMx8Pl_jH7OmVgQ#gid=1435697662"
                target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-handbook.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            Data Online Handbook
                        </h3>
                    </div>
                </div>
            </a>
            <a href="https://www.facebook.com/AGHAM.Diliman/photos/a.369508223498345/885448788570950/?type=3&theater"
                target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-agham-dilliman.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            AGHAM Diliman
                        </h3>
                    </div>
                </div>
            </a>
            <a href="https://www.facebook.com/tulongkabataannetwork/photos/a.669276586425529/3027692493917248/?type=3&theater"
                target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-tulong-kabataan.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            Tulong Kabataan
                        </h3>
                    </div>
                </div>
            </a>
            <a href="https://www.facebook.com/feedfromhome/photos/pcb.108334797476354/108333374143163/?type=3&theater"
                target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-feed-from-home.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            Feed From Home
                        </h3>
                    </div>
                </div>
            </a>
        </div>
    </section>
    <section class="app-group government" id="government">
        <h2>Government Efforts</h2>
        <div class="app-card-container">
            <a href="https://sites.google.com/view/covid19ph/lgus-vs-covid-19?fbclid=IwAR3MoPmpZFrNOtmM_U8jbtWhU0a1DvBpPI7bUyBePRTNq9097F_ngPBDDME"
                target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-phlgu.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            LGU Covid-19 Response
                        </h3>
                    </div>
                </div>
            </a>
            <a href="https://invite.viber.com/?g2=AQBloG%2B2iYcA9Ess%2BlEA7D6mSoLKBx642avqJSzYpecNd3Ah1SR%2FW1ZNR0K2OrQY&lang=en"
                target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-viber.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            DOHViber
                        </h3>
                        <p>Messaging App Group Chat</p>
                    </div>
                </div>
            </a>
            <a href="https://twitter.com/search?q=%23Covid_19PH&src=trend_click" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-twitter.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            DOHTwitter
                        </h3>
                        <p>Social Media</p>
                    </div>
                </div>
            </a>
            <a href="https://t.me/phcoronavirus" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-telegram.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            DOHTelegram
                        </h3>
                        <p>Messaging App Group Chat</p>
                    </div>
                </div>
            </a>
        </div>
    </section>
    <section class="app-group devs" id="devs">
        <h2>For Developers</h2>
        <div class="app-card-container">
            <a href="https://covid19ph.net" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-covid19-links.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            COVID-19 PH Links
                        </h3>
                    </div>
                </div>
            </a>
            <a href="https://covid-19-apis.postman.com/" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-postman.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to App</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            COVID-19 APIs
                        </h3>
                        <p>By Postman</p>
                    </div>
                </div>
            </a>

        </div>
    </section>
</div>