<section class="research">
    <section class="header">
        <h1>Emerging Research</h1>
        <p>Showcased below are the latest strides made by the best and brightest minds from all around the world as they
            lead the fight against COVID-19.</p>
    </section>
    <div class="subnav">
        <a ng-click="scrollTo('data-modelling')" href="">Data Modelling</a>
        <span> | </span>
        <a ng-click="scrollTo('genes')" href="">COVID-19 Genes</a>
        <span> | </span>
        <a ng-click="scrollTo('epidemic')" href="">Epidemic Calculator</a>
        <span> | </span>
        <a ng-click="scrollTo('origin')" href="">COVID-19 Origins</a>
        <span> | </span>
        <a ng-click="scrollTo('govt')" href="">Effective Government Actions</a>
    </div>
    <section class="research-container">
        <div class="research-group" id="data-modelling">
            <h2>Data Modelling</h2>
            <div class="research-card-container">
                <a href="" target="_blank">
                    <div class="card">
                        <div class="data-fields">
                            <span class="data-field-label">
                                Title
                            </span>
                            <span class="data-field-content research-title">
                                Chest CT Findings in Coronavirus Disease-19 (COVID-19): Relationship to Duration of
                                Infection
                            </span>
                            <span class="data-field-label">
                                Author(s)
                            </span>
                            <span class="data-field-content">
                                Adam Bernheim , Xueyan Mei, Mingqian Huang, Yang Yang, Zahi A. Fayad, Ning Zhang, Kaiyue
                                Diao, Bin Lin, Xiqi Zhu, Kunwei Li, Shaolin Li, Hong Shan, Adam Jacobi, and Michael
                                Chung
                            </span>
                            <span class="data-field-label">
                                Date Published
                            </span>
                            <span class="data-field-content">
                                April 15, 2020
                            </span>
                            <span class="data-field-label">
                                Institution(s)
                            </span>
                            <span class="data-field-content">
                                Icahn School of Medicine at Mount Sinai
                            </span>
                            <span class="data-field-label">
                                Abstract
                            </span>
                            <span class="data-field-content abstract">
                                In this retrospective study, chest CTs of 121 symptomatic patients infected with
                                coronavirus disease-19 (COVID-19) from four centers in China from January 18, 2020 to
                                February 2, 2020 were reviewed for common CT findings in relationship to the time
                                between symptom onset and the initial CT scan (i.e. early, 0-2 days (36 patients),
                                intermediate 3-5 days (33 patients), late 6-12 days (25 patients)). The hallmarks of
                                COVID-19 infection on imaging were bilateral and peripheral ground-glass and
                                consolidative pulmonary opacities. Notably, 20/36 (56%) of early patients had a normal
                                CT. With a longer time after the onset of symptoms, CT findings were more frequent,
                                including consolidation, bilateral and peripheral disease, greater total lung
                                involvement, linear opacities, “crazy-paving” pattern and the “reverse halo” sign.
                                Bilateral lung involvement was observed in 10/36 early patients (28%), 25/33
                                intermediate patients (76%), and 22/25 late patients (88%).
                            </span>
                        </div>
                        <div class="read-more-button-container">
                            <span class="read-more-cta">
                                Go to Paper
                            </span>
                        </div>
                    </div>
                </a>
                <a href="" target="_blank">
                    <div class="card">
                        <div class="data-fields">
                            <span class="data-field-label">
                                Title
                            </span>
                            <span class="data-field-content research-title">
                                Early dynamics of transmission and control of COVID-19: a mathematical modelling study
                            </span>
                            <span class="data-field-label">
                                Author(s)
                            </span>
                            <span class="data-field-content">
                                Adam J Kucharski, Timothy W Russell, Charlie Diamond, Yang Liu, John Edmunds, Sebastian
                                Funk, and Rosalind M Eggo
                            </span>
                            <span class="data-field-label">
                                Date Published
                            </span>
                            <span class="data-field-content">
                                April 15, 2020
                            </span>
                            <span class="data-field-label">
                                Institution(s)
                            </span>
                            <span class="data-field-content">
                                Centre for Mathematical Modelling of Infectious Diseases COVID-19 working group
                            </span>
                            <span class="data-field-label">
                                Abstract
                            </span>
                            <span class="data-field-content abstract">
                                <p>An outbreak of severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2) has led
                                    to 95 333 confirmed cases as of March 5, 2020. Understanding the early transmission
                                    dynamics of the infection and evaluating the effectiveness of control measures is
                                    crucial for assessing the potential for sustained transmission to occur in new
                                    areas. Combining a mathematical model of severe SARS-CoV-2 transmission with four
                                    datasets from within and outside Wuhan, we estimated how transmission in Wuhan
                                    varied between December, 2019, and February, 2020. We used these estimates to assess
                                    the potential for sustained human-to-human transmission to occur in locations
                                    outside Wuhan if cases were introduced.</p>
                                <p>We combined a stochastic transmission model with data on cases of coronavirus disease
                                    2019 (COVID-19) in Wuhan and international cases that originated in Wuhan to
                                    estimate how transmission had varied over time during January, 2020, and February,
                                    2020. Based on these estimates, we then calculated the probability that newly
                                    introduced cases might generate outbreaks in other areas. To estimate the early
                                    dynamics of transmission in Wuhan, we fitted a stochastic transmission dynamic model
                                    to multiple publicly available datasets on cases in Wuhan and internationally
                                    exported cases from Wuhan. The four datasets we fitted to were: daily number of new
                                    internationally exported cases (or lack thereof), by date of onset, as of Jan 26,
                                    2020; daily number of new cases in Wuhan with no market exposure, by date of onset,
                                    between Dec 1, 2019, and Jan 1, 2020; daily number of new cases in China, by date of
                                    onset, between Dec 29, 2019, and Jan 23, 2020; and proportion of infected passengers
                                    on evacuation flights between Jan 29, 2020, and Feb 4, 2020. We used an additional
                                    two datasets for comparison with model outputs: daily number of new exported cases
                                    from Wuhan (or lack thereof) in countries with high connectivity to Wuhan (ie, top
                                    20 most at-risk countries), by date of confirmation, as of Feb 10, 2020; and data on
                                    new confirmed cases reported in Wuhan between Jan 16, 2020, and Feb 11, 2020.</p>
                                <p>We estimated that the median daily reproduction number (Rt) in Wuhan declined from
                                    2·35 (95% CI 1·15–4·77) 1 week before travel restrictions were introduced on Jan 23,
                                    2020, to 1·05 (0·41–2·39) 1 week after. Based on our estimates of Rt, assuming
                                    SARS-like variation, we calculated that in locations with similar transmission
                                    potential to Wuhan in early January, once there are at least four independently
                                    introduced cases, there is a more than 50% chance the infection will establish
                                    within that population.</p>
                                <p>Our results show that COVID-19 transmission probably declined in Wuhan during late
                                    January, 2020, coinciding with the introduction of travel control measures. As more
                                    cases arrive in international locations with similar transmission potential to Wuhan
                                    before these control measures, it is likely many chains of transmission will fail to
                                    establish initially, but might lead to new outbreaks eventually.</p>
                            </span>
                        </div>
                        <div class="read-more-button-container">
                            <span class="read-more-cta">
                                Go to Paper
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="research-group" id="genes">
            <h2>COVID-19 Genes</h2>
            <div class="research-card-container">
                <a href="" target="_blank">
                    <div class="card">
                        <div class="data-fields">
                            <span class="data-field-label">
                                Title
                            </span>
                            <span class="data-field-content research-title">
                                New MIT machine learning model shows relaxing quarantine rules will spike COVID-19 cases
                            </span>
                            <span class="data-field-label">
                                Author(s)
                            </span>
                            <span class="data-field-content">
                                Darrel Etherington
                            </span>
                            <span class="data-field-label">
                                Date Published
                            </span>
                            <span class="data-field-content">
                                April 16, 2020
                            </span>
                            <span class="data-field-label">
                                Institution(s)
                            </span>
                            <span class="data-field-content">
                                MIT
                            </span>
                            <span class="data-field-label">
                                Abstract
                            </span>
                            <span class="data-field-content abstract">
                                <p>MIT has developed a new model of the spread of COVID-19 infection, based on publicly
                                    available data, combined with established epidemiological equations about outbreaks,
                                    and neural network-based inference. The model, described in a new report, proves
                                    accurate when trained on data spanning late January to early March in terms of
                                    anticipating the actual spread leading up to April 1 in different regions around the
                                    world, and it indicates that any immediate or near-term relaxation or reversal of
                                    quarantine measures currently in place would lead to an “exponential explosion” in
                                    the number of infections.</p>
                            </span>
                        </div>
                        <div class="read-more-button-container">
                            <span class="read-more-cta">
                                Go to Paper
                            </span>
                        </div>
                    </div>
                </a>
                <a href="" target="_blank">
                    <div class="card">
                        <div class="data-fields">
                            <span class="data-field-label">
                                Title
                            </span>
                            <span class="data-field-content research-title">
                                Model quantifies the impact of quarantine measures on Covid-19’s spread
                            </span>
                            <span class="data-field-label">
                                Author(s)
                            </span>
                            <span class="data-field-content">
                                Mary Beth Gallagher
                            </span>
                            <span class="data-field-label">
                                Date Published
                            </span>
                            <span class="data-field-content">
                                April 16, 2020
                            </span>
                            <span class="data-field-label">
                                Institution(s)
                            </span>
                            <span class="data-field-content">
                                MIT
                            </span>
                            <span class="data-field-label">
                                Abstract
                            </span>
                            <span class="data-field-content abstract">
                                <p>A machine learning algorithm combines data on the disease's spread with a neural
                                    network, to help predict when infections will slow down in each country.</p>
                            </span>
                        </div>
                        <div class="read-more-button-container">
                            <span class="read-more-cta">
                                Go to Paper
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="research-group" id="epidemic">
            <h2>Epidemic Calculator</h2>
            <div class="research-card-container">
                <a href="https://www.health.gov.au/resources/publications/modelling-the-current-impact-of-covid-19-in-australia"
                    target="_blank">
                    <div class="card">
                        <div class="data-fields">
                            <span class="data-field-label">
                                Title
                            </span>
                            <span class="data-field-content research-title">
                                Modelling the current impact of COVID-19 in Australia
                            </span>
                            <span class="data-field-label">
                                Author(s)
                            </span>
                            <span class="data-field-content">
                                Australia Government
                            </span>
                            <span class="data-field-label">
                                Date Published
                            </span>
                            <span class="data-field-content">
                                April 16, 2020
                            </span>
                            <span class="data-field-label">
                                Institution(s)
                            </span>
                            <span class="data-field-content">
                                Australia Government (Department of Health)
                            </span>
                            <span class="data-field-label">
                                Abstract
                            </span>
                            <span class="data-field-content abstract">
                                <p>This presentation outlines how the next phase of modelling will help to establish the
                                    current state of the epidemic. Known as 'nowcasting', the modelling uses real
                                    Australian data from the last 14 days to forecast what the next 14 days will bring.
                                </p>
                            </span>
                        </div>
                        <div class="read-more-button-container">
                            <span class="read-more-cta">
                                Go to Paper
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="research-group" id="origin">
            <h2>COVID-19 Origins</h2>
            <div class="research-card-container">
                <a href="https://www.health.gov.au/resources/publications/modelling-the-current-impact-of-covid-19-in-australia"
                    target="_blank">
                    <div class="card">
                        <div class="data-fields">
                            <span class="data-field-label">
                                Title
                            </span>
                            <span class="data-field-content research-title">
                                Modelling the current impact of COVID-19 in Australia
                            </span>
                            <span class="data-field-label">
                                Author(s)
                            </span>
                            <span class="data-field-content">
                                Australia Government
                            </span>
                            <span class="data-field-label">
                                Date Published
                            </span>
                            <span class="data-field-content">
                                April 16, 2020
                            </span>
                            <span class="data-field-label">
                                Institution(s)
                            </span>
                            <span class="data-field-content">
                                Australia Government (Department of Health)
                            </span>
                            <span class="data-field-label">
                                Abstract
                            </span>
                            <span class="data-field-content abstract">
                                <p>This presentation outlines how the next phase of modelling will help to establish the
                                    current state of the epidemic. Known as 'nowcasting', the modelling uses real
                                    Australian data from the last 14 days to forecast what the next 14 days will bring.
                                </p>
                            </span>
                        </div>
                        <div class="read-more-button-container">
                            <span class="read-more-cta">
                                Go to Paper
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="research-group" id="govt">
            <h2>Effective Government Actions</h2>
            <div class="research-card-container">
                <a href="https://www.health.gov.au/resources/publications/modelling-the-current-impact-of-covid-19-in-australia"
                    target="_blank">
                    <div class="card">
                        <div class="data-fields">
                            <span class="data-field-label">
                                Title
                            </span>
                            <span class="data-field-content research-title">
                                Modelling the current impact of COVID-19 in Australia
                            </span>
                            <span class="data-field-label">
                                Author(s)
                            </span>
                            <span class="data-field-content">
                                Australia Government
                            </span>
                            <span class="data-field-label">
                                Date Published
                            </span>
                            <span class="data-field-content">
                                April 16, 2020
                            </span>
                            <span class="data-field-label">
                                Institution(s)
                            </span>
                            <span class="data-field-content">
                                Australia Government (Department of Health)
                            </span>
                            <span class="data-field-label">
                                Abstract
                            </span>
                            <span class="data-field-content abstract">
                                <p>This presentation outlines how the next phase of modelling will help to establish the
                                    current state of the epidemic. Known as 'nowcasting', the modelling uses real
                                    Australian data from the last 14 days to forecast what the next 14 days will bring.
                                </p>
                            </span>
                        </div>
                        <div class="read-more-button-container">
                            <span class="read-more-cta">
                                Go to Paper
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
</section>