<div class="faqs">
    <section class="header">
        <h1>Frequently Asked Questions</h1>
        <p>If you have any burning inquiries about the disease, the pandemic, or about the project, feel free to browse
            our list of questions and answers below.</p>
    </section>
    <div class="subnav">
        <a ng-click="scrollTo('disease')" href="">About the Disease</a>
        <span> | </span>
        <a ng-click="scrollTo('pandemic')" href="">About Living During a Pandemic</a>
        <span> | </span>
        <a ng-click="scrollTo('project-moses')" href="">About Project Moses</a>
    </div>
    <section class="question-group disease" id="disease">
        <h2>About the Disease</h2>
        <div class="question-block">
            <div class="question-container">
                <h3 class="question">
                    What is COVID-19?
                </h3>
            </div>
            <div class="answer-container">
                <div class="answer-wrap">
                    <p class="answer">COVID-19 is the infectious disease caused by the most recently discovered
                        coronavirus.</p>
                    <p class="answer">There are many types of coronaviruses that affect humans, including some that
                        commonly cause mild upper-respiratory tract illnesses. COVID-19 is a new disease, caused by a
                        novel (i.e. new) coronavirus that has not previously been seen in humans.</p>
                    <p class="answer">This new virus and disease were unknown before the outbreak began in Wuhan, China,
                        in December 2019.</p>
                </div>
            </div>
        </div>
        <div class="question-block">
            <div class="question-container">
                <h3 class="question">
                    What’s the difference between Coronavirus, nCoV, SARS-COV-2, and COVID-19?
                </h3>
            </div>
            <div class="answer-container">
                <div class="answer-wrap">
                    <p class="answer"><strong>Coronaviruses</strong> are a large family of viruses that are found in
                        animals and humans. In humans, they normally cause respiratory ailments. There are many species
                        of coronavirus—in fact, some strains of the common cold are coronaviruses. The diseases SARS
                        (Severe Acute Respiratory Syndrome) and MERS (Middle East Respiratory Syndrome) are also caused
                        by coronaviruses. </p>
                    <p class="answer"><strong>nCoV</strong> (or more completely, the 2019-nCoV or 2019
                        <strong>N</strong>ovel <strong>Co</strong>rona<strong>v</strong>irus) was the provisional name
                        given to the new (i.e. novel) species of coronavirus that first emerged in Wuhan, China in
                        December of 2019.</p>
                    <p class="answer">Since then, this specific species of the coronavirus has been formally named by
                        the International Committee on Taxonomy of Viruses (ICTV) as the <strong>SARS-CoV-2</strong>
                        (<strong>S</strong>evere <strong>A</strong>cute <strong>R</strong>espiratory
                        <strong>S</strong>yndrome <strong>Co</strong>rona<strong>v</strong>irus <strong>2</strong>). The
                        name of the virus was chosen to signify that it is genetically related to the virus responsible
                        for SARS; however, although they are related, they are not the same virus nor do they cause the
                        same disease.</p>
                    <p class="answer">To further differentiate SARS from the new disease, the World Health Organization
                        (WHO), following guidelines and best practices set forth by the OIE and FAO, named of the
                        disease <strong>COVID-19</strong> (<strong>Co</strong>rona <strong>Vi</strong>rus
                        <strong>D</strong>isease - 20<strong>19</strong>).</p>
                </div>
            </div>
        </div>
        <div class="question-block">
            <div class="question-container">
                <h3 class="question">
                    What are the symptoms of COVID-19?
                </h3>
            </div>
            <div class="answer-container">
                <div class="answer-wrap">
                    <p class="answer">In general, many symptoms of COVID-19 are similar to the flu. In most people,
                        symptoms of COVID-19 include fever, tiredness, and a dry cough. Some may have aches and pains, a
                        runny or stuffy nose (nasal congestion), a sore throat, or even diarrhea. All of these symptoms
                        are usually mild and would appear gradually.</p>
                    <p class="answer">Some people who have COVID-19 are asymptomatic—which means that although they’re
                        infected with the disease, they don’t develop any symptoms nor do they feel unwell.</p>
                    <p class="answer">Around eight (8) in every ten (10) people with COVID-19 will recover from it
                        without needing special treatment. However, around one (1) out of every six (6) become very ill
                        and start having difficulty breathing; this is very serious and would require medical care
                        immediately. </p>
                    <p class="answer">Older people and those with underlying medical problems like heart problems,
                        diabetes, hypertension (high blood pressure), lung disease, and cancer are more likely to
                        develop the critical and severe symptoms of COVID-19.</p>
                </div>
            </div>
        </div>
        <div class="question-block">
            <div class="question-container">
                <h3 class="question">
                    How deadly is COVID-19?
                </h3>
            </div>
            <div class="answer-container">
                <div class="answer-wrap">
                    <p class="answer">We are still figuring it out.</p>
                    <p class="answer">Worldwide, around 3.4% of all those that are diagnosed with the disease have died.
                        In general, those over 80 to 85 years old are the most vulnerable with some estimates going as
                        high as 14.8% to 27%, and for those above 55 to 65 years old, 1% to 11% have died.</p>
                    <p class="answer">People between 20 to 54 years old have a less than 1% risk of dying.</p>
                    <p class="answer">However, these numbers may not necessarily give the complete picture because of
                        multiple reasons. The biggest factor is because case fatality rate (CFR) is calculated by
                        comparing the number of deaths among the COVID-19 patients vs. the total number of identified
                        COVID-19 patients. We simply cannot say for certain how many people have been infected unless
                        there is aggressive mass testing. For example, in South Korea, where aggressive testing has been
                        done of the population, the estimated mortality rate is a very low 0.6%.</p>
                    <p class="answer">Another complication is that there’s a delay between people getting infected,
                        developing symptoms that are severe enough to warrant going to the hospital for testing, and
                        death. Because of this delay, the number of deaths used to calculate the CFR is compared with a
                        number of cases that does not match the correct time frame (i.e. deaths counted this week should
                        be used alongside the case-count from two or three weeks ago).</p>
                    <p class="answer">Lastly—but nonetheless significantly—many deaths could be attributed to the
                        limited medical care caused by the medical infrastructure being overwhelmed by the outbreak.
                        Many people who have died might have lived if the healthcare providers and institutions around
                        the world had the ample time, resources, and energy. However, the rapid onset and global scope
                        of the pandemic has overwhelmed the medical care facilities who find themselves unable to cope
                        and thus many possibly preventable deaths occur. This skews the apparent deadliness of the
                        disease itself by incorrectly inflating the number of deaths.</p>
                    <p class="answer">It will take time before the world’s medical experts will be able to properly
                        assess the true deadliness of the disease. Until then, however, it is always better to be safe
                        than sorry and everyone should treat COVID-19 as a very serious and deadly illness. </p>
                </div>
            </div>
        </div>
        <div class="question-block">
            <div class="question-container">
                <h3 class="question">
                    Is COVID-19 airborne?
                </h3>
            </div>
            <div class="answer-container">
                <div class="answer-wrap">
                    <p class="answer">No, it’s not. Instead, it is transmitted via droplets.</p>
                    <p class="answer">Whenever someone coughs, sneezes, speaks, or even just exhales, tiny droplets of
                        fluid are expelled from the mouth and nose. Some of these droplets are so small that they are
                        invisible to the naked eye. If the virus that is present in these droplets enters a person’s
                        body—most likely through their mouths, nose, or eyes—then they can get contaminated and infected
                        by SARS-CoV-2, and become sick from COVID-19.</p>
                    <p class="answer">These droplets can be flung up to 3 meters away from their origin—so being closer
                        than that to someone infected means you’ll be contaminated by these droplets immediately.</p>
                    <p class="answer">Further, these droplets eventually fall and coat all the surfaces around the
                        original infected person. Studies have shown that coronaviruses can persist and live on surfaces
                        for a few hours or up to several days (depending on the material, temperature, humidity, etc.)
                        If someone touches a contaminated surface, then the virus can be transferred to their hands;
                        when they eventually touch their face (specifically their mouth, nose, or eyes), the virus can
                        enter their body and infect them. This is why proper hand-washing is so important.</p>
                    <p class="answer">There have been some experiments showing that the virus can be airborne or at
                        least transmissible through aerosolized droplets—however, this has only been observed in the
                        lab. Until new research conclusively proves airborne transmission, the medical consensus is to
                        classify the disease as primarily droplet transmissible instead. </p>
                </div>
            </div>
        </div>
        <div class="question-block">
            <div class="question-container">
                <h3 class="question">
                    Can I catch COVID-19 from pets?
                </h3>
            </div>
            <div class="answer-container">
                <div class="answer-wrap">
                    <p class="answer">Although there is a possibility for some animals to become infected through close
                        contact with infected humans, there is no clear evidence that humans can be infected by their
                        pets. At present, laboratory studies have shown that cats can infect other cats.</p>
                    <p class="answer">Currently, there is no evidence to suggest that animals infected by humans are
                        playing a role in the spread of COVID-19. Human outbreaks are driven by person to person contact
                    </p>
                </div>
            </div>
        </div>
        <div class="question-block">
            <div class="question-container">
                <h3 class="question">
                    Can I catch it from touching items and surfaces?
                </h3>
            </div>
            <div class="answer-container">
                <div class="answer-wrap">
                    <p class="answer">When someone who has COVID-19 coughs, sneezes, speaks, or exhales they release
                        droplets of infected fluid. Most of these droplets fall on nearby surfaces and objects—such as
                        desks, tables or telephones. People could catch COVID-19 by touching contaminated surfaces or
                        objects and then touching their eyes, nose or mouth.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="question-group pandemic" id="pandemic">
        <h2>About Living During a Pandemic</h2>
        <div class="question-block">
            <div class="question-container">
                <h3 class="question">
                    What is a pandemic? What does it mean?
                </h3>
            </div>
            <div class="answer-container">
                <div class="answer-wrap">
                    <p class="answer">A pandemic is the worldwide spread of a new disease. Since the disease is new,
                        most people do not have immunity leading to it spreading quickly and widely.</p>
                </div>
            </div>
        </div>
        <div class="question-block">
            <div class="question-container">
                <h3 class="question">
                    What is social distancing?
                </h3>
            </div>
            <div class="answer-container">
                <div class="answer-wrap">
                    <p class="answer">Social distancing, also called “physical distancing,” means keeping space between
                        yourself and other people outside of your home. To practice social or physical distancing,
                        people should stay at least two (2) to three (3) meters away from each other, not gather in
                        groups, and stay out of crowded places.</p>
                </div>
            </div>
        </div>
        <div class="question-block">
            <div class="question-container">
                <h3 class="question">
                    What is self-isolation?
                </h3>
            </div>
            <div class="answer-container">
                <div class="answer-wrap">
                    <p class="answer">Self-isolation means that you are distancing yourself from other people if you
                        think that you are sick. Isolation is used to separate sick people from healthy people. People
                        who are in isolation should stay home. In the home, anyone sick should separate themselves from
                        others by staying in a specific “sick” bedroom or space and using a different bathroom (if
                        possible).</p>
                </div>
            </div>
        </div>
        <div class="question-block">
            <div class="question-container">
                <h3 class="question">
                    What is self-quarantine?
                </h3>
            </div>
            <div class="answer-container">
                <div class="answer-wrap">
                    <p class="answer">Self-quarantine means that you are separating yourself from others because you
                        think that you may have been exposed to someone with the disease. This does not necessarily mean
                        that you are sick. You are staying away from others to limit the chance of exposing them to the
                        disease because you think that you may have been exposed to someone with the disease. Someone in
                        self-quarantine stays separated from others, and they limit movement outside of their home or
                        current place. A person may have been exposed to the virus without knowing it (for example, when
                        traveling or out in the community), or they could have the virus without feeling symptoms.
                        Quarantine helps limit further spread of COVID-19.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="question-group project-moses" id="project-moses">
        <h2>About Project Moses</h2>
        <div class="question-block">
            <div class="question-container">
                <h3 class="question">
                    What is Project Moses?
                </h3>
            </div>
            <div class="answer-container">
                <div class="answer-wrap">
                    <p class="answer">Project Moses is a Crisis Response Toolbox that aims to be an all-in-one web
                        dashboard for Filipinos in times of calamity and crisis.</p>
                    <p class="answer">For now, it is a publicly accessible collaboration platform using Information
                        Communication Technology (ICT) meant to connect COVID-19 response actors.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="sources">
        <h5>Sources:</h5>
        <ul>
            <li><a href="https://www.who.int/news-room/q-a-detail/q-a-coronaviruses" target="_blank">Q&A on
                    CoronaViruses - COVID-19 - (WHO)</a></li>
            <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/faq.html#covid19-basics" target="_blank">Official
                    Website of Central Desease Control and Prevention - (CDC)</a></li>
            <li><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/technical-guidance/naming-the-coronavirus-disease-(covid-2019)-and-the-virus-that-causes-it target="
                    _blank">Naming the coronavirus disease(COVID-19) and the viruses that it causes it - (WHO)</a></li>
            <li><a href="https://www.livescience.com/is-coronavirus-deadly.html" target="_blank">How deadly is new
                    coronavirus - (LiveScience)</a></li>
            <li><a href="https://www.who.int/news-room/commentaries/detail/modes-of-transmission-of-virus-causing-covid-19-implications-for-ipc-precaution-recommendations"
                    target="_blank"> Modes of transmission of virus causing COVID-19: implications for IPC precaution
                    recommendations - (WHO)</a></li>
            <li><a href="https://www.oie.int/en/scientific-expertise/specific-information-and-recommendations/questions-and-answers-on-2019novel-coronavirus/"
                    target="_blank">Official Website of World Organization for Animal Health (OIE)</a></li>
        </ul>
    </section>
</div>