<div class="links">
    <section class="header">
        <h1>Useful Links</h1>
        <p>Here are links to some websites and pages that you can use to keep yourself updated with the leading
            organizations dealing with the COVID-19 pandemic.</p>
    </section>
    <section class="link-group iatf">
        <h2>National Government</h2>
        <div class="link-card-container">
            <a href="http://www.covid19.gov.ph" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/app-laginghanda.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to Site</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            Laging Handa
                        </h3>
                        <p>www.covid19.gov.ph</p>
                    </div>
                </div>
            </a>
        </div>
    </section>
    <section class="link-group iatf">
        <h2>IATF and Partners</h2>
        <div class="link-card-container">
            <a href="https://www.doh.gov.ph/2019-nCoV" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/link-doh.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to Site</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            Department of Health (DOH)
                        </h3>
                        <p>www.doh.gov.ph/2019-nCoV</p>
                    </div>
                </div>
            </a>
            <a href="https://www.dfa.gov.ph" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/link-dfa.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to Site</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            Department of Foreign Affairs (DFA)
                        </h3>
                        <p>www.dfa.gov.ph</p>
                    </div>
                </div>
            </a>
            <a href="https://www.dilg.gov.ph" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/link-dilg.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to Site</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            Department of the Interior and Local Government (DILG)
                        </h3>
                        <p>www.dilg.gov.ph</p>
                    </div>
                </div>
            </a>
            <a href="https://www.doj.gov.ph" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/link-doj.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to Site</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            Department of Justice (DOJ)
                        </h3>
                        <p>www.doj.gov.ph</p>
                    </div>
                </div>
            </a>
            <a href="https://www.dole.gov.ph" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/link-dole.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to Site</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            Department of Labor and Employment (DOLE)
                        </h3>
                        <p>www.dole.gov.ph</p>
                    </div>
                </div>
            </a>
            <a href="http://www.tourism.gov.ph" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/link-dot.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to Site</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            Department of Tourism (DOT)
                        </h3>
                        <p>www.tourism.gov.ph</p>
                    </div>
                </div>
            </a>
            <a href="http://www.dotr.gov.ph" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/link-dotr.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to Site</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            Department of Transportation (DOTr)
                        </h3>
                        <p>www.dotr.gov.ph</p>
                    </div>
                </div>
            </a>
            <a href="https://dnd.gov.ph" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/link-dnd.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to Site</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            COVID-19 National Task Force headed by Department of National Defense
                        </h3>
                        <p>dnd.gov.ph</p>
                    </div>
                </div>
            </a>
        </div>
    </section>
    <section class="link-group international">
        <h2>International & Foreign Organizations</h2>
        <div class="link-card-container">
            <a href="https://who.int" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/link-cdc.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to Site</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            World Health Organization (WHO)
                        </h3>
                        <p>who.int</p>
                    </div>
                </div>
            </a>
            <a href="https://www.cdc.gov/" target="_blank">
                <div class="card">
                    <div class="topbar"></div>
                    <div class="img-container">
                        <img src="./ASSETS/img/link-who.png" alt="">
                        <div class="overlay">
                            <div class="go-link">
                                <span>Go to Site</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-container">
                        <h3>
                            Centers for Disease Control and PRevent (CDC)
                        </h3>
                        <p>www.cdc.gov</p>
                    </div>
                </div>
            </a>
        </div>
    </section>
</div>