<div class="citizens-patrol">
    <section class="search-container">
        <div class="search-banner pharmacy">
            <h1>Search for Pharmacies</h1>
            <div class="search-form">
                <div class="search-field">
                    <span class="icon icon-map"></span>
                    <input type="text" class="input-field-text" placeholder="Region">
                </div>
                <div class="search-field">
                    <span class="icon icon-place"></span>
                    <input type="text" class="input-field-text" placeholder="City or Municipality">
                </div>
                <div class="search-field">
                    <span class="icon icon-search"></span>
                    <input type="text" class="input-field-text" placeholder="Pharmacy Name">
                </div>
                <a href="" class="button">Find</a>
            </div>
        </div>
        <a href="#/citizen-patrol/grocery">
            <div class="slider-control previous">Grocery Stores</div>
        </a>
        <a href="#/citizen-patrol/roads">
            <div class="slider-control next">Roads</div>
        </a>
    </section>

    <div class="wide-controls">
        <div class="row1">
            <div class="displaying">
                <div class="label"><span>displaying</span></div>
                <div class="search-terms">
                    <div class="region control-item">Metro Manila</div><span class="narrower"> > </span>
                    <div class="city control-item">Quezon City</div><span class="narrower"> > </span>
                    <div class="term  control-item">Pharmacy Name: <strong>St Lukes</strong></div>
                </div>
            </div>
            <div class="refining">
                <div class="label refine"><span>refine results</span></div>
                <input type="text" class="control-item refine-box">
            </div>
        </div>
        <div class="row2">
            <div class="filters">
                <div class="label"><span>quick filter</span></div>
                <div class="filter-buttons">
                    <div class="operating control-item">Currently Operating</div>
                    <div class="surgery control-item">Makes Deliveries</div>
                </div>
            </div>
        </div>
    </div>
    <section class="citizens-proper">
        <div class="citizens-card-container">
            <div class="card citizens operating-yes">
                <a class="citizens-edit-link" href="citizens-submit-report.html">Update this Listing</a>
                <div class="top-row">
                    <h1>Ritemed</h1>
                    <div class="details">
                        <div class="addy">
                            <h2>Quezon City, Metro Manila</h2>
                            <p>Citi Plaza2 Commercid, Tandang Sora, Near Visayas Ave.</p>
                        </div>
                        <div class="contact-no">
                            <div class="label-grey">Contact Number(s)</div>
                            <div class="info-actual">
                                <a href="tel:+63285548400">(02) 8554 8400</a>
                                <br>
                                <a href="tel:+63285548401">(02) 8554 8401</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-row">
                    <div class="col1">
                        <div class="feature op">
                            <div class="label-grey">
                                Operating during ECQ
                            </div>
                            <div class="info-actual">
                                <span class="answer good">yes</span>
                                <span class="answer bad hidden">No</span>
                            </div>
                        </div>
                        <div class="feature hours">
                            <div class="label-grey">
                                Operating Hours
                            </div>
                            <div class="info-actual">
                                08:00 - 17:00
                            </div>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="feature">
                            <div class="label-grey">
                                Makes Deliveries
                            </div>
                            <div class="info-actual">
                                <span class="answer good hidden">yes</span>
                                <span class="answer hidden">No</span>
                                <span class="answer unknown">No Info</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card citizens operating-no">
                <a class="citizens-edit-link" href="citizens-submit-report.html">Update this Listing</a>
                <div class="top-row">
                    <h1>Generics Pharmacy</h1>
                    <div class="details">
                        <div class="addy">
                            <h2>Quezon City, Metro Manila</h2>
                            <p>82 Visayas Ave, Tandang Sora</p>
                        </div>
                        <div class="contact-no">
                            <div class="label-grey">Contact Number(s)</div>
                            <div class="info-actual">
                                <a href="tel:+63285548400">(02) 7501 2346</a>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-row">
                    <div class="col1">
                        <div class="feature op">
                            <div class="label-grey">
                                Operating during ECQ
                            </div>
                            <div class="info-actual">
                                <span class="answer hidden good">yes</span>
                                <span class="answer bad ">No</span>
                            </div>
                        </div>
                        <div class="feature hours">
                            <div class="label-grey">
                                Operating Hours
                            </div>
                            <div class="info-actual">
                                08:00 - 17:00
                            </div>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="feature">
                            <div class="label-grey">
                                Makes Deliveries
                            </div>
                            <div class="info-actual">
                                <span class="answer good hidden">yes</span>
                                <span class="answer ">No</span>
                                <span class="answer unknown hidden">No Info</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <span class="bottom-utility-link report-cta">Do you have information about a specific Pharmacy?<br /><a
                href="#/citizen-patrol/submit-report">Submit a Citizen's Report Now!</a></span>
    </section>

</div>