<div class="citizens-patrol">
    <div class="breadcrumb">Citizens Patrol > <span class="current-location">Submit Citizen's Report</span></div>

    <section class="top-intro">
        <div class="intro-text">
            <div class="text-actual">
                <h1>Thank you for your decision to help the community</h1>
                <p>By submitting a <strong>Citizen's Report</strong>, you'll be making life easier for your fellow
                    Filipinos by giving them easy access to information that matters.</p>
                <p>We're glad to have you as part of the Citizens Patrol.</p>
            </div>
        </div>
        <div class="image-community">
            <img src="https://source.unsplash.com/random/500" alt="">
        </div>
    </section>

    <section class="citizens-report">
        <div class="citizens-report-form">
            <div class="form-header">
                <h1 class="new-listing">Citizen's Report</h1>
                <h1 class="edit-listing hidden"><span>Update Listing:</span> Accura Womens Care</h1>
            </div>
            <div class="form-proper">

                <div class="label-blue clinic-item grocery-item pharmacy-item road-item">
                    <span>Category</span>
                </div>
                <div class="form-element clinic-item grocery-item pharmacy-item road-item">
                    <div class="field-element">
                        <label for="" class="input-label actual">Category</label>
                        <div class="button-group-yn wide">
                            <div class="button-wrapper">
                                <label>
                                    <input type="radio" name="category" tabindex="6">
                                    <div class="button-radio">
                                        <span class="button-icon icon-clinic"></span>
                                        <span class="button-text">Clinic</span>
                                    </div>
                                </label>
                            </div>
                            <div class="button-wrapper">
                                <label>
                                    <input type="radio" name="category" tabindex="7">
                                    <div class="button-radio">
                                        <span class="button-icon icon-grocery"></span>
                                        <span class="button-text">Grocery Store</span>
                                    </div>
                                </label>
                            </div>
                            <div class="button-wrapper">
                                <label>
                                    <input type="radio" name="category" tabindex="7">
                                    <div class="button-radio">
                                        <span class="button-icon icon-drugstore"></span>
                                        <span class="button-text">Pharmacy</span>
                                    </div>
                                </label>
                            </div>
                            <div class="button-wrapper">
                                <label>
                                    <input type="radio" name="category" tabindex="7">
                                    <div class="button-radio">
                                        <span class="button-icon icon-road"></span>
                                        <span class="button-text">Road</span>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="label-blue clinic-item grocery-item pharmacy-item road-item">
                    <span>Listing Name</span>
                </div>
                <div class="form-element clinic-item grocery-item pharmacy-item road-item">
                    <div class="field-element">
                        <label for="" class="input-label actual">Listing Name</label>
                        <label for="" class="input-label context">Please use only complete names (Required)</label>
                        <div class="input-field-container">
                            <input type="text" class="input-field text" tabindex="1" autofocus placeholder="Required">
                            <div class="leftbar"></div>
                        </div>
                        <label for="" class="input-label bottom-hint">Please use only complete names (Required)</label>
                    </div>
                </div>

                <div class="label-blue clinic-item grocery-item pharmacy-item road-item">
                    <span>Complete Address</span>
                </div>
                <div class="form-element keep-labels clinic-item grocery-item pharmacy-item road-item">
                    <div class="field-element">
                        <label for="" class="input-label actual">Complete Address</label>
                        <label for="" class="input-label context ">Region (Required)</label>
                        <div class="input-field-container">
                            <input type="text" class="input-field text combobox" tabindex="2" placeholder="Required">
                            <span class="combobox-dropper icon-chevron-down"></span>
                            <div class="leftbar"></div>
                        </div>
                        <label for="" class="input-label context">City or Municipality (Required)</label>
                        <div class="input-field-container">
                            <input type="text" class="input-field text combobox" tabindex="3" placeholder="Required">
                            <span class="combobox-dropper icon-chevron-down"></span>
                            <div class="leftbar"></div>
                        </div>
                        <label for="" class="input-label context">Specific Location</label>
                        <div class="input-field-container">
                            <input type="text" class="input-field text" tabindex="4">
                            <div class="leftbar"></div>
                        </div>
                    </div>
                </div>

                <div class="label-blue clinic-item grocery-item pharmacy-item">
                    <span>Operational <small>(During ECQ)</small></span>
                </div>
                <div class="form-element clinic-item grocery-item pharmacy-item">
                    <div class="field-element">
                        <label for="" class="input-label actual">Operational (During ECQ)</label>
                        <div class="button-group-yn">
                            <div class="button-wrapper">
                                <label>
                                    <input type="radio" name="operational" tabindex="6">
                                    <div class="button-radio">
                                        <span class="button-icon icon-check"></span>
                                        <span class="button-text">Yes</span>
                                    </div>
                                </label>
                            </div>
                            <div class="button-wrapper">
                                <label>
                                    <input type="radio" name="operational" tabindex="7">
                                    <div class="button-radio">
                                        <span class="button-icon icon-cancel"></span>
                                        <span class="button-text">No</span>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="label-blue clinic-item grocery-item pharmacy-item">
                    <span>Operating Hours</span>
                </div>
                <div class="form-element clinic-item grocery-item pharmacy-item">
                    <div class="field-element">
                        <label for="" class="input-label actual">Operating Hours</label>
                        <div class="time">
                            <div class="input-field-container">
                                <input type="time" class="input-field text time-input" tabindex="14" step="1800">
                                <div class="leftbar"></div>
                            </div>
                            <span>to</span>
                            <div class="input-field-container">
                                <input type="time" class="input-field text time-input" tabindex="14" step="1800">
                                <div class="leftbar"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="label-blue road-item">
                    <span>Currently Open <small>(During ECQ)</small></span>
                </div>
                <div class="form-element road-item">
                    <div class="field-element">
                        <label for="" class="input-label actual">Currently Open (During ECQ)</label>
                        <div class="button-group-yn">
                            <div class="button-wrapper">
                                <label>
                                    <input type="radio" name="operational" tabindex="6">
                                    <div class="button-radio">
                                        <span class="button-icon icon-check"></span>
                                        <span class="button-text">Yes</span>
                                    </div>
                                </label>
                            </div>
                            <div class="button-wrapper">
                                <label>
                                    <input type="radio" name="operational" tabindex="7">
                                    <div class="button-radio">
                                        <span class="button-icon icon-cancel"></span>
                                        <span class="button-text">No</span>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="label-blue clinic-item">
                    <span>Does Minor Surgery</span>
                </div>
                <div class="form-element clinic-item">
                    <div class="field-element">
                        <label for="" class="input-label actual">Does Minor Surgery</label>
                        <div class="button-group-yn">
                            <div class="button-wrapper">
                                <label>
                                    <input type="radio" name="surgery" tabindex="6">
                                    <div class="button-radio">
                                        <span class="button-icon icon-check"></span>
                                        <span class="button-text">Yes</span>
                                    </div>
                                </label>
                            </div>
                            <div class="button-wrapper">
                                <label>
                                    <input type="radio" name="surgery" tabindex="7">
                                    <div class="button-radio">
                                        <span class="button-icon icon-cancel"></span>
                                        <span class="button-text">No</span>
                                    </div>
                                </label>
                            </div>
                            <div class="button-wrapper">
                                <label>
                                    <input type="radio" name="surgery" tabindex="7">
                                    <div class="button-radio">
                                        <span class="button-icon icon-help"></span>
                                        <span class="button-text">Not Sure</span>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="label-blue clinic-item">
                    <span>Type</span>
                </div>
                <div class="form-element clinic-item">
                    <div class="field-element">
                        <label for="" class="input-label actual">Type</label>
                        <div class="button-group-yn wide">
                            <div class="button-wrapper">
                                <label>
                                    <input type="radio" name="clinic-type" tabindex="6">
                                    <div class="button-radio">
                                        <span class="button-icon icon-govt"></span>
                                        <span class="button-text">Government</span>
                                    </div>
                                </label>
                            </div>
                            <div class="button-wrapper">
                                <label>
                                    <input type="radio" name="clinic-type" tabindex="7">
                                    <div class="button-radio">
                                        <span class="button-icon icon-private"></span>
                                        <span class="button-text">Private</span>
                                    </div>
                                </label>
                            </div>
                            <div class="button-wrapper">
                                <label>
                                    <input type="radio" name="clinic-type" tabindex="7">
                                    <div class="button-radio">
                                        <span class="button-icon icon-help"></span>
                                        <span class="button-text">Not Sure</span>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="label-blue clinic-item">
                    <span>Specialist(s) Available</span>
                </div>
                <div class="form-element clinic-item">
                    <div class="field-element">
                        <label for="" class="input-label actual">Specialist(s) Available</label>
                        <label for="" class="input-label context">Separate specializations with a semicolon</label>
                        <div class="input-field-container">
                            <input type="text" class="input-field text" tabindex="5">
                            <div class="leftbar"></div>
                        </div>
                        <label for="" class="input-label bottom-hint">Separate specializations with a semicolon.
                            <strong>Example: OB/GYN; Cardiology; ENT</strong></label>
                    </div>
                </div>

                <div class="label-blue grocery-item pharmacy-item">
                    <span>Makes Deliveries</span>
                </div>
                <div class="form-element grocery-item pharmacy-item">
                    <div class="field-element">
                        <label for="" class="input-label actual">Makes Deliveries</label>
                        <div class="button-group-yn">
                            <div class="button-wrapper">
                                <label>
                                    <input type="radio" name="delivery" tabindex="6">
                                    <div class="button-radio">
                                        <span class="button-icon icon-check"></span>
                                        <span class="button-text">Yes</span>
                                    </div>
                                </label>
                            </div>
                            <div class="button-wrapper">
                                <label>
                                    <input type="radio" name="delivery" tabindex="7">
                                    <div class="button-radio">
                                        <span class="button-icon icon-cancel"></span>
                                        <span class="button-text">No</span>
                                    </div>
                                </label>
                            </div>
                            <div class="button-wrapper">
                                <label>
                                    <input type="radio" name="delivery" tabindex="7">
                                    <div class="button-radio">
                                        <span class="button-icon icon-help"></span>
                                        <span class="button-text">Not Sure</span>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="label-blue road-item">
                    <span>With Checkpoint(s)</span>
                </div>
                <div class="form-element road-item">
                    <div class="field-element">
                        <label for="" class="input-label actual">With Checkpoint(s)</label>
                        <div class="button-group-yn">
                            <div class="button-wrapper">
                                <label>
                                    <input type="radio" name="checkpoint" tabindex="6">
                                    <div class="button-radio">
                                        <span class="button-icon icon-check"></span>
                                        <span class="button-text">Yes</span>
                                    </div>
                                </label>
                            </div>
                            <div class="button-wrapper">
                                <label>
                                    <input type="radio" name="checkpoint" tabindex="7">
                                    <div class="button-radio">
                                        <span class="button-icon icon-cancel"></span>
                                        <span class="button-text">No</span>
                                    </div>
                                </label>
                            </div>
                            <div class="button-wrapper">
                                <label>
                                    <input type="radio" name="checkpoint" tabindex="7">
                                    <div class="button-radio">
                                        <span class="button-icon icon-help"></span>
                                        <span class="button-text">Not Sure</span>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="label-blue clinic-item grocery-item pharmacy-item road-item">
                </div>
                <div class="form-element clinic-item grocery-item pharmacy-item road-item">
                    <div class="button-group-notify new-listing">
                        <div class="ok button" tabindex="60">
                            Submit a Citizen's Report
                        </div>
                    </div>
                    <div class="button-group-notify edit-listing hidden">
                        <div class="ok button" tabindex="60">
                            Submit a Citizen's Update
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <span class="bottom-utility-link report-cta">Just want to update an existing listing?
            <br />
            <a href="">Head here, instead!</a>
        </span>
        <span class="bottom-utility-link report-cta hidden">Want to create a new listing?
            <br />
            <a href="">Head here, instead!</a>
        </span>
    </section>
</div>