<div class="container-fluid update-case-page">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-md-6">
            <p class="breadcrumbs">Hospital Portal > Patient Case-File: {{patientCaseId}}</p>
        </div>
        <div class="col-sm-12 col-md-6 col-md-6">
            <p class="welcome-msg">Welcome, {{hospitalInfo.hospital_name}}</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12 col-md-9 col-md-9">
            <div class="case-id-box">
                <p>CASE ID: {{patientCaseId}}</p>
            </div>

            <div class="row mt-2 mb-2 text-center">
                <div class="col-sm-12 col-md-12 col-md-12">
                    <h3 class="patient-name-address">62 Year Old Male from Quezon City</h3>
                    <p class="status-and-date">Self-Assessment: 04/01/2020 13:25</p>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-sm-12 col-md-12 col-lg-12">

                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <p>I. PERSONAL INFORMATION</p>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-end">
                            <button type="button" class="button edit-btn">Edit</button>
                        </div>
                    </div>

                    <div class="hospital-details-container">
                        <div class="hospital-card-detail d-flex">
                            <div class="left-bar self-assessed"></div>
                            <div class="hospital-card-detail-bottom">
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <p>Full Name</p>
                                        <p>Date of Birth</p>
                                        <p>Assigned Sex at Birth</p>
                                        <p>Pregnant</p>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <p><strong>Juan Dela Cruz</strong></p>
                                        <p><strong>04/22/1946 (62)</strong></p>
                                        <p><strong>Male</strong></p>
                                        <p><strong>N/A</strong></p>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <p>Current Location</p>
                                        <p>Contact Number</p>
                                        <p>Email Address</p>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <p><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit.</strong></p>
                                        <p><strong>09827151242</strong></p>
                                        <p><strong>juandelacruz@gmail.com</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row mt-2">
                <div class="col-sm-12 col-md-12 col-lg-12">

                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <p>II. SELF-ASSESSMENT: EXPOSURE HISTORY </p>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-end">
                            <button type="button" class="button edit-btn">Edit</button>
                        </div>
                    </div>

                    <div class="hospital-details-container">
                        <div class="hospital-card-detail d-flex">
                            <div class="left-bar expoure-history"></div>
                            <div class="hospital-card-detail-bottom">

                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <p>
                                            Traveled to countries with Local Transmission
                                            <small class="mt-2">► Symptoms started within 14 Days of travel</small>
                                        </p>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <button type="button" class="button case-update-btn">Yes</button>
                                            </div>
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <button type="button" class="button case-update-btn">No</button>
                                            </div>
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <button type="button" class="button case-update-btn">No Answer</button>
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <button type="button" class="button case-update-btn">Yes</button>
                                            </div>
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <button type="button" class="button case-update-btn">No</button>
                                            </div>
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <button type="button" class="button case-update-btn">No Answer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <p>
                                            Traveled to countries with Local Transmission
                                            <small class="mt-2">► Symptoms started within 14 Days of travel</small>
                                        </p>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <button type="button" class="button case-update-btn">Yes</button>
                                            </div>
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <button type="button" class="button case-update-btn">No</button>
                                            </div>
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <button type="button" class="button case-update-btn">No Answer</button>
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <button type="button" class="button case-update-btn">Yes</button>
                                            </div>
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <button type="button" class="button case-update-btn">No</button>
                                            </div>
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <button type="button" class="button case-update-btn">No Answer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <p>
                                            Traveled to countries with Local Transmission
                                            <small class="mt-2">► Symptoms started within 14 Days of travel</small>
                                        </p>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <button type="button" class="button case-update-btn">Yes</button>
                                            </div>
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <button type="button" class="button case-update-btn">No</button>
                                            </div>
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <button type="button" class="button case-update-btn">No Answer</button>
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <button type="button" class="button case-update-btn">Yes</button>
                                            </div>
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <button type="button" class="button case-update-btn">No</button>
                                            </div>
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <button type="button" class="button case-update-btn">No Answer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <p>
                                            Traveled to countries with Local Transmission
                                            <small class="mt-2">► Symptoms started within 14 Days of travel</small>
                                        </p>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <button type="button" class="button case-update-btn">Yes</button>
                                            </div>
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <button type="button" class="button case-update-btn">No</button>
                                            </div>
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <button type="button" class="button case-update-btn">No Answer</button>
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <button type="button" class="button case-update-btn">Yes</button>
                                            </div>
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <button type="button" class="button case-update-btn">No</button>
                                            </div>
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <button type="button" class="button case-update-btn">No Answer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <p>Home or Workplace has someone with Flu-Like Symptoms </p>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <button type="button" class="button case-update-btn">Yes</button>
                                            </div>
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <button type="button" class="button case-update-btn">No</button>
                                            </div>
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <button type="button" class="button case-update-btn">No Answer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row mt-3">
                <div class="col-sm-12 col-md-12 col-lg-12">

                    <div class="row">
                        <div class="col-sm-12 col-md-8 col-lg-8">
                            <p>III. SELF-ASSESSMENT: REPORTED SYSMPTOMS</p>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <button type="button" class="button save-changes-btn">Save Changes</button>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <button type="button" class="button cancel-btn">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="hospital-details-container">
                        <div class="hospital-card-detail d-flex">
                            <div class="left-bar reported-symptoms-and-comorbidity"></div>
                            <div class="hospital-card-detail-bottom">
                                <div class="row">
                                    <div class="col-sm-12 col-md-3 col-lg-3">
                                        <p>Fever (>=38°C)</p>
                                    </div>
                                    <div class="col-sm-12 col-md-1 col-lg-1">
                                        <label class="checkbox-container">
                                            <input type="checkbox">
                                            <span class="custom-checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="col-sm-12 col-md-2 col-lg-2"></div>
                                    <div class="col-sm-12 col-md-3 col-lg-3">
                                        <p>Chills</p>
                                    </div>
                                    <div class="col-sm-12 col-md-1 col-lg-1">
                                        <label class="checkbox-container">
                                            <input type="checkbox">
                                            <span class="custom-checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-sm-12 col-md-3 col-lg-3">
                                        <p>Dry Cough</p>
                                    </div>
                                    <div class="col-sm-12 col-md-1 col-lg-1">
                                        <label class="checkbox-container">
                                            <input type="checkbox">
                                            <span class="custom-checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="col-sm-12 col-md-2 col-lg-2"></div>
                                    <div class="col-sm-12 col-md-3 col-lg-3">
                                        <p>Fatigue</p>
                                    </div>
                                    <div class="col-sm-12 col-md-1 col-lg-1">
                                        <label class="checkbox-container">
                                            <input type="checkbox">
                                            <span class="custom-checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-sm-12 col-md-3 col-lg-3">
                                        <p>Sputum Production</p>
                                    </div>
                                    <div class="col-sm-12 col-md-1 col-lg-1">
                                        <label class="checkbox-container">
                                            <input type="checkbox">
                                            <span class="custom-checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="col-sm-12 col-md-2 col-lg-2"></div>
                                    <div class="col-sm-12 col-md-3 col-lg-3">
                                        <p>Nasal Congestion</p>
                                    </div>
                                    <div class="col-sm-12 col-md-1 col-lg-1">
                                        <label class="checkbox-container">
                                            <input type="checkbox">
                                            <span class="custom-checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-sm-12 col-md-3 col-lg-3">
                                        <p>Sore Throat</p>
                                    </div>
                                    <div class="col-sm-12 col-md-1 col-lg-1">
                                        <label class="checkbox-container">
                                            <input type="checkbox">
                                            <span class="custom-checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="col-sm-12 col-md-2 col-lg-2"></div>
                                    <div class="col-sm-12 col-md-3 col-lg-3">
                                        <p>Diarrhea</p>
                                    </div>
                                    <div class="col-sm-12 col-md-1 col-lg-1">
                                        <label class="checkbox-container">
                                            <input type="checkbox">
                                            <span class="custom-checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-sm-12 col-md-3 col-lg-3">
                                        <p>Headaches</p>
                                    </div>
                                    <div class="col-sm-12 col-md-1 col-lg-1">
                                        <label class="checkbox-container">
                                            <input type="checkbox">
                                            <span class="custom-checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="col-sm-12 col-md-2 col-lg-2"></div>
                                    <div class="col-sm-12 col-md-3 col-lg-3">
                                        <p>Difficulty Breathing</p>
                                    </div>
                                    <div class="col-sm-12 col-md-1 col-lg-1">
                                        <label class="checkbox-container">
                                            <input type="checkbox">
                                            <span class="custom-checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-sm-12 col-md-3 col-lg-3">
                                        <p>Myalgia or Arthralgia</p>
                                    </div>
                                    <div class="col-sm-12 col-md-1 col-lg-1">
                                        <label class="checkbox-container">
                                            <input type="checkbox">
                                            <span class="custom-checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="col-sm-12 col-md-2 col-lg-2"></div>
                                    <div class="col-sm-12 col-md-3 col-lg-3">
                                        <p>Shortness of Breath</p>
                                    </div>
                                    <div class="col-sm-12 col-md-1 col-lg-1">
                                        <label class="checkbox-container">
                                            <input type="checkbox">
                                            <span class="custom-checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-sm-12 col-md-3 col-lg-3">
                                        <p>Nausea and/or Vomiting</p>
                                    </div>
                                    <div class="col-sm-12 col-md-1 col-lg-1">
                                        <label class="checkbox-container">
                                            <input type="checkbox">
                                            <span class="custom-checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <p><strong>Additional Symptoms</strong></p>
                                        <p>Seperate each symptom with a semicolon. Example: <b>Hematuria; Migraines;
                                                Vertigo</b></p>

                                        <div class="row mt-2">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <textarea name="additionalSymptoms" id="additionalSymptoms"
                                                    class="text-area" rows="5"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row mt-3">
                <div class="col-sm-12 col-md-12 col-lg-12">

                    <div class="row">
                        <div class="col-sm-12 col-md-8 col-lg-8">
                            <p>IV. SELF-ASSESSMENT: COMORBIDITY</p>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <button type="button" class="button save-changes-btn">Save Changes</button>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <button type="button" class="button cancel-btn">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="hospital-details-container">
                        <div class="hospital-card-detail d-flex">
                            <div class="left-bar reported-symptoms-and-comorbidity"></div>
                            <div class="hospital-card-detail-bottom">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <p>Patient has other identified illnesses</p>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <p><strong>Yes</strong></p>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <p><strong>Other Diseases and Comorbid Conditions</strong></p>
                                        <p>Seperate each disease/condition with a semicolon. Example: <b>Diabetus
                                                Miletus; Hypertension; IBD
                                                Vertigo</b></p>

                                        <div class="row mt-2">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <textarea name="otherDiseases" id="otherDiseases" class="text-area"
                                                    rows="5"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                            <button type="button" class="button">View Change Log</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="case-status-header">CASE STATUS</div>
            <div class="box">
                <h4 class="title">Self-Assessed</h4>
                <p class="mt-2">Please evaluate the current case file and determine if the self-assessment of PUI in
                    Critical Need of
                    medical attention is valid.</p>
                <p class="mt-4">If it is, upgrade the case's status to CONFIRMED. If not, reclassify the case as
                    DISMISSED.</p>

                <div class="row mt-4">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <button type="button" class="button btn"></button>
                        <button type="button" class="button btn"></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>