[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.text-center {
  text-align: center !important;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing        : border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin        : 0;
  padding       : 0;
  border        : 0;
  font-size     : 100%;
  font          : inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing : 0;
}

a {
  text-decoration: none;
  color          : inherit;
  cursor         : pointer;
}

button {
  background-color: transparent;
  color           : inherit;
  border-width    : 0;
  padding         : 0;
  cursor          : pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border : 0;
  padding: 0;
  margin : 0;
}

ul,
ol,
dd {
  margin    : 0;
  padding   : 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin     : 0;
  font-size  : inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding     : 0;
  margin      : 0;
}

sup,
sub {
  font-size: 60%;
}

* {
  outline: none;
}

.preload-transitions * {
  -webkit-transition: none !important;
  transition        : none !important;
}

a:hover {
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', 'Century Gothic', 'Verdana', sans-serif;
  font-size: 16px;
  color: #3d3d3d;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

h1 {
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small {
  font-size: 0.8em;
}

strong {
  font-weight: 600;
}

.icon {
  font-size: inherit;
}

.icon.left {
  margin-right: 0.25em;
}

.icon.right {
  margin-left: 0.25em;
}

.button {
  border             : 1px solid;
  padding            : 0.6em 0.8em;
  border-radius      : 5px;
  -webkit-transition : 200ms ease-in-out;
  transition         : 200ms ease-in-out;
  text-align         : center;
  cursor             : pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button:hover,
.button:focus {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  box-shadow        : 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.button:active {
  -webkit-transform: scale(1.02);
  transform        : scale(1.02);
}

.language-selector-bar {
  display           : block;
  background        : #f8f9f9;
  padding           : 0.5em 2em;
  -webkit-transition: 300ms ease;
  transition        : 300ms ease;
  overflow-y        : hidden;
}

.language-selector-bar .language-selector {
  margin    : 0 0 0 auto;
  display   : block;
  width     : 38vh;
  text-align: right;
  position  : relative;
}

.language-selector-bar .language-selector p .icon {
  position: absolute;
  top     : 2.5px;
  cursor  : pointer;
}

.language-selector-bar .language-selector p .icon:hover,
.language-selector-bar .language-selector p .icon:focus {
  color: #e88192;
}

.language-selector-bar .language-selector p .icon:active {
  color: #e15d73;
}

header {
  margin: 0.5em 1em 0 1em;
}

.header-logo img {
  width    : 100%;
  max-width: 300px;
  margin   : 1em auto;
  display  : block;
}

.header-buttons {
  display              : -ms-grid;
  display              : grid;
  -ms-grid-columns     : 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap   : 0.5em;
  column-gap           : 0.5em;
  grid-gap             : 0.5em;
  margin-bottom        : 1em;
}

.header-buttons .triage {
  border    : none;
  background: #299bd7;
  border    : 2px solid transparent;
  color     : #ffffff;
}

.header-buttons .triage:hover,
.header-buttons .triage:focus {
  border     : 2px solid #2692c7;
  background : transparent;
  color      : #2692c7;
  font-weight: 600;
}

.header-buttons .triage:active {
  background: #1e739e;
}

.header-buttons .hospital {
  border    : 1px solid #333a72;
  color     : #333a72;
  background: transparent;
}

.header-buttons .hospital:hover,
.header-buttons .hospital:focus {
  background : #333a72;
  color      : #ffffff;
  font-weight: 600;
}

.header-buttons .hospital:active {
  background: #12445d;
}

.header-buttons.for-wide {
  display: none;
}

.bottom-cta-buttons-bar {
  display           : none;
  position          : fixed;
  background        : #ffffff;
  bottom            : 0;
  width             : 100vw;
  padding           : 1em 0.5em 0 0.5em;
  z-index           : 999;
  -webkit-box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.08), 0 -3px 3px rgba(0, 0, 0, 0.1);
  box-shadow        : 0 -5px 10px rgba(0, 0, 0, 0.08), 0 -3px 3px rgba(0, 0, 0, 0.1);
}

nav {
  margin: 0;
  width : 100%;
}

nav.mobile {
  background: #299bd7;
}

nav.mobile .nav-bar {
  text-align: center;
  color     : #ffffff;
  font-size : 1.15em;
  padding   : 0.3em 0;
  cursor    : pointer;
}

nav.mobile .nav-bar:hover,
nav.mobile .nav-bar:focus {
  background: #1e739e;
  color     : #ffffff;
}

nav.mobile .nav-bar:active {
  background: #12445d;
}

nav.mobile .nav-dropdown {
  background        : #44aadc;
  overflow-y        : hidden;
  -webkit-transition: all 300ms ease-in-out;
  transition        : all 300ms ease-in-out;
  max-height        : 0;
}

nav.mobile .nav-dropdown li {
  padding        : 0.8em 0 0.8em 1em;
  list-style-type: none;
  color          : #ffffff;
  cursor         : pointer;
  border-bottom  : 1px solid #2692c7;
}

nav.mobile .nav-dropdown li.current {
  font-weight: 600;
}

nav.mobile .nav-dropdown li:hover,
nav.mobile .nav-dropdown li:focus {
  background: #2692c7;
  color     : #ffffff;
  /*&       ::after {
                        font-family: 'icomoon' !important;
                        content    : '\e904';
                        position   : absolute;
                        animation  : slideToRight 200ms 0s linear;
                        transform  : rotate(-90deg);
                        right      : 1em;
                    }*/
}

nav.mobile .nav-dropdown li:active {
  background: #12445d;
}

nav.mobile .nav-dropdown li.navlink {
  position: relative;
}

nav.mobile .nav-dropdown li.navlink::after {
  font-family       : 'icomoon' !important;
  content           : '\e904';
  position          : absolute;
  -webkit-transform : rotate(0deg);
  transform         : rotate(0deg);
  -webkit-transition: 200ms linear;
  transition        : 200ms linear;
  right             : 1em;
}

nav.mobile .nav-dropdown li.navlink.dropdown-active {
  background   : #2692c7;
  border-bottom: 1px solid #2692c7;
}

nav.mobile .nav-dropdown li.navlink.dropdown-active::after {
  font-family       : 'icomoon' !important;
  content           : '\e904';
  -webkit-transform : rotate(-180deg);
  transform         : rotate(-180deg);
  -webkit-transition: 200ms linear;
  transition        : 200ms linear;
}

nav.mobile .nav-dropdown .secondary-dropdown {
  background        : #53c3ea;
  padding           : 0;
  border-bottom     : none;
  overflow-y        : hidden;
  -webkit-transition: all 200ms linear;
  transition        : all 200ms linear;
  max-height        : 0;
}

nav.mobile .nav-dropdown .secondary-dropdown li {
  padding-left : 1.8em;
  border-bottom: 1px solid #44aadc;
}

nav.mobile .nav-dropdown .secondary-dropdown li:hover,
nav.mobile .nav-dropdown .secondary-dropdown li:focus {
  background: #1e739e;
  color     : #ffffff;
}

nav.mobile .nav-dropdown .secondary-dropdown li:active {
  background: #12445d;
}

nav.wide {
  display           : none;
  background        : #299bd7;
  position          : -webkit-sticky;
  position          : sticky;
  top               : 0;
  z-index           : 999;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.02), 0 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow        : 0 5px 10px rgba(0, 0, 0, 0.02), 0 3px 3px rgba(0, 0, 0, 0.2);
}

nav.wide .main-nav-bar {
  background       : #299bd7;
  display          : -webkit-box;
  display          : -ms-flexbox;
  display          : flex;
  -webkit-box-pack : justify;
  -ms-flex-pack    : justify;
  justify-content  : space-between;
  padding          : 0 2em;
  -webkit-box-align: center;
  -ms-flex-align   : center;
  align-items      : center;
}

nav.wide li {
  list-style-type: none;
  padding        : 1em 1em;
  text-align     : center;
  color          : #ffffff;
  font-size      : 0.9em;
  cursor         : pointer;
}

nav.wide li.current {
  font-weight: 600;
}

nav.wide li:hover,
nav.wide li:focus {
  background: #44aadc;
  color     : #ffffff;
}

nav.wide li:active {
  background: #2692c7;
}

nav.wide .navlink {
  position     : relative;
  padding-right: 2em;
}

nav.wide .navlink::after {
  font-family       : 'icomoon' !important;
  content           : '\e904';
  position          : absolute;
  top               : 50%;
  -webkit-transform : translateY(-45%) rotate(0deg);
  transform         : translateY(-45%) rotate(0deg);
  font-size         : 80%;
  -webkit-transition: 200ms linear;
  transition        : 200ms linear;
  right             : 1em;
}

nav.wide .navlink.dropdown-open {
  background: #44aadc;
  position  : relative;
}

nav.wide .navlink.dropdown-open::before {
  content                 : ' ';
  position                : absolute;
  height                  : 2px;
  background              : transparent;
  bottom                  : 10px;
  width                   : calc(100% - 3em);
  -webkit-transition      : 250ms ease-in-out;
  transition              : 250ms ease-in-out;
  -webkit-transform       : scaleX(0);
  transform               : scaleX(0);
  -webkit-transform-origin: left;
  transform-origin        : left;
  -webkit-animation       : delayer 1.5s;
  animation               : delayer 1.5s;
}

nav.wide .navlink.dropdown-open:hover,
nav.wide .navlink.dropdown-open:focus {
  color: #ffffff;
}

nav.wide .navlink.dropdown-open:hover::before,
nav.wide .navlink.dropdown-open:focus::before {
  -webkit-transform: scaleX(1);
  transform        : scaleX(1);
}

nav.wide .navlink.dropdown-open:hover::after,
nav.wide .navlink.dropdown-open:focus::after {
  font-family: 'icomoon' !important;
  content    : '\e904';
  font-weight: 900;
}

nav.wide .navlink.dropdown-open:active {
  background: #44aadc;
}

nav.wide .navlink.dropdown-open::after {
  font-family       : 'icomoon' !important;
  content           : '\e904';
  position          : absolute;
  top               : 50%;
  -webkit-transform : translateY(-45%) rotate(-180deg);
  transform         : translateY(-45%) rotate(-180deg);
  font-size         : 80%;
  -webkit-transition: 200ms linear;
  transition        : 200ms linear;
  right             : 1em;
}

nav.wide .nav-panel {
  overflow-y        : hidden;
  max-height        : 0;
  -webkit-transition: all 300ms linear;
  transition        : all 300ms linear;
  z-index           : 999;
}

nav.wide .nav-panel .panel-container {
  background: #44aadc;
  padding   : 2em 3em;
  color     : #ffffff;
}

nav.wide .nav-panel .col1 {
  border-bottom: 1px solid #ffffff;
}

nav.wide .nav-panel .col1 p {
  margin-top          : 1em;
  line-height         : 1.5;
  -webkit-margin-after: 1em;
  margin-block-end    : 1em;
  padding-right       : 1em;
  font-weight         : 300;
  font-size           : 0.9em;
}

nav.wide .nav-panel .col2 {
  margin: 0 1em;
}

nav.wide .nav-panel .col2 .card {
  border            : 2px solid rgba(255, 255, 255, 0.04);
  display           : -webkit-box;
  display           : -ms-flexbox;
  display           : flex;
  padding           : 0.85em 2.5em 0.85em 0.85em;
  border-radius     : 10px;
  -webkit-transition: 100ms ease-in-out;
  transition        : 100ms ease-in-out;
  cursor            : pointer;
  margin            : 1em 0;
}

nav.wide .nav-panel .col2 .card.current {
  border        : 2px solid rgba(255, 255, 255, 0.6);
  pointer-events: none;
  cursor        : pointer;
}

nav.wide .nav-panel .col2 .card img {
  text-align: center;
  height    : 100px;
}

nav.wide .nav-panel .col2 .card .card-left {
  max-width   : 125px;
  margin-right: 1.5em;
}

nav.wide .nav-panel .col2 .card .card-right h5,
nav.wide .nav-panel .col2 .card .card-right p {
  line-height: 1.5;
}

nav.wide .nav-panel .col2 .card .card-right h5 {
  text-transform: uppercase;
}

nav.wide .nav-panel .col2 .card .card-right p {
  -webkit-margin-before: 0.5em;
  margin-block-start   : 0.5em;
  font-weight          : 300;
  font-size            : 0.85em;
}

nav.wide .nav-panel .col2 .card:hover,
nav.wide .nav-panel .col2 .card:focus {
  color   : #ffffff;
  border  : 2px solid #ffffff;
  position: relative;
}

nav.wide .nav-panel .col2 .card:hover::after,
nav.wide .nav-panel .col2 .card:focus::after {
  font-family      : 'icomoon' !important;
  content          : '\e904';
  position         : absolute;
  right            : 1em;
  top              : 50%;
  -webkit-transform: translateY(-50%) rotate(-90deg);
  transform        : translateY(-50%) rotate(-90deg);
  -webkit-animation: slideToRight 300ms;
  animation        : slideToRight 300ms;
}

nav.wide .nav-panel .col2 .card:active {
  background: #2692c7;
}

nav.wide .nav-panel .col2.citizens .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em 2em 0.5em 0.85em;
}

nav.wide .nav-panel .col2.citizens .card img {
  text-align: center;
  height    : 40px;
  width     : auto;
}

nav.wide .nav-panel .col2.citizens .card .card-left {
  max-width   : 125px;
  margin-right: 1.5em;
}

nav.wide .nav-panel .col2.citizens .card .card-right {
  display: block;
  margin : auto 0;
}

nav.wide .nav-panel .col2.citizens .card .card-right h6 {
  line-height: 1.2;
}

nav.wide .nav-panel .col2 .citizens-cards-container {
  display         : -webkit-box;
  display         : -ms-flexbox;
  display         : flex;
  -webkit-box-pack: justify;
  -ms-flex-pack   : justify;
  justify-content : space-between;
}

nav.wide .nav-panel .col2 .citizens-cards-container .card {
  display           : block;
  padding           : 1vw 4vw;
  border-radius     : 10px;
  -webkit-transition: 100ms ease-in-out;
  transition        : 100ms ease-in-out;
  cursor            : pointer;
  margin-bottom     : 1em;
}

nav.wide .nav-panel .col2 .citizens-cards-container .card .card-image-container {
  height           : 125px;
  margin-bottom    : 0.5em;
  display          : -webkit-box;
  display          : -ms-flexbox;
  display          : flex;
  -webkit-box-align: center;
  -ms-flex-align   : center;
  align-items      : center;
}

nav.wide .nav-panel .col2 .citizens-cards-container .card img {
  width  : 70px;
  height : auto;
  margin : 0 auto;
  display: block;
}

nav.wide .nav-panel .col2 .citizens-cards-container .card .card-text-container {
  display              : -webkit-box;
  display              : -ms-flexbox;
  display              : flex;
  -webkit-box-align    : center;
  -ms-flex-align       : center;
  align-items          : center;
  -webkit-box-orient   : vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction   : column;
  flex-direction       : column;
}

nav.wide .nav-panel .col2 .citizens-cards-container .card h6 {
  text-align: center;
}

nav.wide .nav-panel .col2 .citizens-cards-container .card:hover::after,
nav.wide .nav-panel .col2 .citizens-cards-container .card:focus::after {
  display: none;
}

nav.wide .nav-panel .col2.resources .card {
  padding      : 0.5em 2em 0.5em 0.85em;
  border-radius: 10px;
  margin       : 0.5em 0;
}

nav.wide .nav-panel .col2.resources .card img {
  height: 45px;
}

nav.wide .nav-panel .col2.resources .card .card-left {
  max-width        : 55px;
  display          : -webkit-box;
  display          : -ms-flexbox;
  display          : flex;
  -webkit-box-align: center;
  -ms-flex-align   : center;
  align-items      : center;
}

nav.wide .nav-panel .col2.resources .card h5,
nav.wide .nav-panel .col2.resources .card p {
  line-height: 1.2;
}

nav.wide .nav-panel .col2.resources .card h5 {
  text-transform: uppercase;
  font-size     : 1.1em;
}

nav.wide .nav-panel .col2.resources .card p {
  -webkit-margin-before: 0.4em;
  margin-block-start   : 0.4em;
  font-weight          : 300;
}

footer {
  background: #2692c7;
}

footer .kneeler {
  padding: 2em 2em 1em 2em;
  color  : #ffffff;
  /*.kneeler-links {
            grid-column          : 1/2;
            grid-row             : 1/2;
            display              : grid;
            grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
            //grid-gap           : 1em;
        }*/
}

footer .kneeler h4 {
  display      : block;
  height       : 40px;
  font-weight  : 600;
  margin-bottom: 10px;
}

footer .kneeler li {
  list-style-type   : none;
  margin            : 0 0 1.25em 0;
  -webkit-transition: 100ms ease;
  transition        : 100ms ease;
}

footer .kneeler li a {
  position: relative;
}

footer .kneeler li a:active {
  font-weight: 600;
}

footer .kneeler li a::before {
  content                 : ' ';
  position                : absolute;
  height                  : 2px;
  background              : #ffffff;
  bottom                  : -4px;
  width                   : 100%;
  -webkit-transition      : 250ms ease-in-out;
  transition              : 250ms ease-in-out;
  -webkit-transform       : scaleX(0);
  transform               : scaleX(0);
  -webkit-transform-origin: left;
  transform-origin        : left;
}

footer .kneeler li a:hover,
footer .kneeler li a:focus {
  color: #ffffff;
}

footer .kneeler li a:hover::before,
footer .kneeler li a:focus::before {
  -webkit-transform: scaleX(1);
  transform        : scaleX(1);
}

footer .kneeler p {
  font-weight         : 200;
  -webkit-margin-after: 1em;
  margin-block-end    : 1em;
}

footer .kneeler .kneeler-proper {
  display              : -ms-grid;
  display              : grid;
  -webkit-column-gap   : 0.5em;
  column-gap           : 0.5em;
  -ms-grid-columns     : 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows        : auto auto auto auto auto;
  grid-template-rows   : auto auto auto auto auto;
  grid-template-areas  : "about"
    "col1"
    "col2"
    "col3"
    "col4";
}

footer .kneeler .kneeler-links.col1 {
  -ms-grid-row   : 2;
  -ms-grid-column: 1;
  grid-area      : col1;
}

footer .kneeler .kneeler-links.col2 {
  -ms-grid-row   : 3;
  -ms-grid-column: 1;
  grid-area      : col2;
}

footer .kneeler .kneeler-links.col3 {
  -ms-grid-row   : 4;
  -ms-grid-column: 1;
  grid-area      : col3;
}

footer .kneeler .kneeler-links.col4 {
  -ms-grid-row   : 5;
  -ms-grid-column: 1;
  grid-area      : col4;
}

footer .kneeler .about {
  -ms-grid-row   : 1;
  -ms-grid-column: 1;
  grid-area      : about;
  line-height    : 1.5;
  margin-bottom  : 1em;
}

footer .kneeler .about a {
  font-weight: 500;
  position   : relative;
}

footer .kneeler .about a::after {
  font-family       : 'icomoon' !important;
  content           : '\e904';
  position          : absolute;
  top               : 45%;
  -webkit-transform : translateY(-45%) rotate(-90deg);
  transform         : translateY(-45%) rotate(-90deg);
  font-size         : 80%;
  -webkit-transition: 200ms linear;
  transition        : 200ms linear;
  right             : -1.5em;
}

footer .kneeler .about a:active {
  font-weight: 600;
}

footer .kneeler .about a::before {
  content                 : ' ';
  position                : absolute;
  height                  : 2px;
  background              : #ffffff;
  bottom                  : -4px;
  width                   : 100%;
  -webkit-transition      : 250ms ease-in-out;
  transition              : 250ms ease-in-out;
  -webkit-transform       : scaleX(0);
  transform               : scaleX(0);
  -webkit-transform-origin: left;
  transform-origin        : left;
}

footer .kneeler .about a:hover,
footer .kneeler .about a:focus {
  color: #ffffff;
}

footer .kneeler .about a:hover::before,
footer .kneeler .about a:focus::before {
  -webkit-transform: scaleX(1);
  transform        : scaleX(1);
}

footer .kneeler .white-logo {
  display: block;
  margin : 2em auto 0.5em auto;
}

footer .kneeler .socmed-container {
  display   : block;
  font-size : 1.6em;
  margin    : 0.6em auto 0 auto;
  text-align: center;
}

footer .kneeler .socmed-container a::before {
  content: '';
  height : unset;
}

footer .kneeler .socmed-container .icon {
  margin            : 0 0.25em;
  -webkit-transition: 100ms ease-in-out;
  transition        : 100ms ease-in-out;
  cursor            : pointer;
  display           : inline-block;
}

footer .kneeler .socmed-container .icon:hover,
footer .kneeler .socmed-container .icon:focus {
  -webkit-transform: scale(1.1);
  transform        : scale(1.1);
}

footer .foot {
  background: #1e739e;
  color     : #ffffff;
  text-align: center;
  padding   : 0.4em;
}

@-webkit-keyframes slideToRight {
  0% {
    opacity          : 0;
    -webkit-transform: translateX(-25vw) translateY(-50%) rotate(-90deg);
    transform        : translateX(-25vw) translateY(-50%) rotate(-90deg);
  }

  100% {
    opacity          : 1;
    -webkit-transform: translateX(0px) translateY(-50%) rotate(-90deg);
    transform        : translateX(0px) translateY(-50%) rotate(-90deg);
  }
}

@keyframes slideToRight {
  0% {
    opacity          : 0;
    -webkit-transform: translateX(-25vw) translateY(-50%) rotate(-90deg);
    transform        : translateX(-25vw) translateY(-50%) rotate(-90deg);
  }

  100% {
    opacity          : 1;
    -webkit-transform: translateX(0px) translateY(-50%) rotate(-90deg);
    transform        : translateX(0px) translateY(-50%) rotate(-90deg);
  }
}

@-webkit-keyframes dropFromTop {
  0% {
    opacity          : 0;
    -webkit-transform: translateY(-75vw);
    transform        : translateY(-75vw);
  }

  100% {
    opacity          : 1;
    -webkit-transform: translateX(-50%);
    transform        : translateX(-50%);
  }
}

@keyframes dropFromTop {
  0% {
    opacity          : 0;
    -webkit-transform: translateY(-75vw);
    transform        : translateY(-75vw);
  }

  100% {
    opacity          : 1;
    -webkit-transform: translateX(-50%);
    transform        : translateX(-50%);
  }
}

@-webkit-keyframes slideToLeft {
  0% {
    opacity          : 0;
    -webkit-transform: translateX(25vw) translateY(-50%) rotate(90deg);
    transform        : translateX(25vw) translateY(-50%) rotate(90deg);
  }

  100% {
    opacity          : 1;
    -webkit-transform: translateX(0px) translateY(-50%) rotate(90deg);
    transform        : translateX(0px) translateY(-50%) rotate(90deg);
  }
}

@keyframes slideToLeft {
  0% {
    opacity          : 0;
    -webkit-transform: translateX(25vw) translateY(-50%) rotate(90deg);
    transform        : translateX(25vw) translateY(-50%) rotate(90deg);
  }

  100% {
    opacity          : 1;
    -webkit-transform: translateX(0px) translateY(-50%) rotate(90deg);
    transform        : translateX(0px) translateY(-50%) rotate(90deg);
  }
}

@-webkit-keyframes delayer {
  0% {
    -webkit-transform: scaleX(0);
    transform        : scaleX(0);
  }

  100% {
    -webkit-transform: scaleX(0);
    transform        : scaleX(0);
  }
}

@keyframes delayer {
  0% {
    -webkit-transform: scaleX(0);
    transform        : scaleX(0);
  }

  100% {
    -webkit-transform: scaleX(0);
    transform        : scaleX(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity                 : 0;
    -webkit-transform       : scaleY(0);
    transform               : scaleY(0);
    -webkit-transform-origin: top;
    transform-origin        : top;
  }

  100% {
    opacity          : 1;
    -webkit-transform: scaleY(1);
    transform        : scaleY(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity                 : 0;
    -webkit-transform       : scaleY(0);
    transform               : scaleY(0);
    -webkit-transform-origin: top;
    transform-origin        : top;
  }

  100% {
    opacity          : 1;
    -webkit-transform: scaleY(1);
    transform        : scaleY(1);
  }
}

.hidden {
  display: none !important;
}

.bottom-utility-link {
  display    : block;
  margin     : 2em auto;
  text-align : center;
  font-weight: 300;
  color      : #727272;
  line-height: 1.6;
}

.bottom-utility-link .medium-dark {
  font-weight: 400;
}

.bottom-utility-link a {
  font-weight       : 500;
  padding           : 0.25em 0;
  border            : 1px solid transparent;
  border-radius     : 5px;
  -webkit-transition: 200ms ease;
  transition        : 200ms ease;
  white-space       : nowrap;
  position          : relative;
}

.bottom-utility-link a:hover,
.bottom-utility-link a:focus {
  border-color: #727272;
  padding     : 0.25em 1.75em 0.25em 0.5em;
}

.bottom-utility-link a:hover::after,
.bottom-utility-link a:focus::after {
  font-family      : 'icomoon' !important;
  content          : '\e904';
  position         : absolute;
  right            : .75em;
  top              : 50%;
  font-weight      : 600;
  font-size        : 0.8em;
  color            : #727272;
  -webkit-transform: translateY(-50%) rotate(-90deg);
  transform        : translateY(-50%) rotate(-90deg);
  -webkit-animation: slideToRight 200ms;
  animation        : slideToRight 200ms;
}

.bottom-utility-link a.redlink {
  color: #ce2743;
}

.bottom-utility-link a.redlink:hover,
.bottom-utility-link a.redlink:focus {
  border-color    : #ce2743;
  background-color: #ce2743;
  color           : #ffffff;
}

.bottom-utility-link a.redlink:hover::after, .bottom-utility-link a.redlink:focus::after {
  color: #ffffff;
}

.disclaimer {
  display    : block;
  margin     : 2em auto;
  font-weight: 300;
  font-size  : 0.75em;
  font-style : italic;
  color      : #727272;
  line-height: 1.5;
  text-align: justify;
}

.disclaimer strong {
  font-weight: 400;
}

.disclaimer a {
  -webkit-transition: 100ms ease;
  transition        : 100ms ease;
}

.disclaimer a:hover,
.disclaimer a:focus {
  font-weight: 450;
  color: #2692c7;
}

.violator {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #12445d;
  z-index: 900;
  color: #ffffff;
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 2em;
  -webkit-box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.08), 0 -3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.08), 0 -3px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: 600ms ease-in-out;
  transition: 600ms ease-in-out;
}

.violator .violator-text {
  margin-bottom: 1em;
}

.violator .violator-text h1 {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 5px;
}

.violator .violator-text p {
  font-size: 0.75em;
}

.violator .violator-button {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  row-gap: 0.5em;
      grid-template-areas: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "agree agree"
 "disagree disagree";
}

.violator .violator-button .button {
  border-color: #ffffff;
  -webkit-transition: 500ms;
  transition: 500ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.violator .violator-button .button.agree {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: agree;
  background: #ffffff;
  color: #299bd7;
}

.violator .violator-button .button.agree span {
  font-weight: 400;
}

.violator .violator-button .button.agree:hover, .violator .violator-button .button.agree:focus {
  background: #53c3ea;
  border-color: #53c3ea;
}

.violator .violator-button .button.agree:hover span, .violator .violator-button .button.agree:focus span {
  text-shadow: 0 0 0.85px #fff, 0 0 0.85px #fff;
  color: #ffffff;
}

.violator .violator-button .button.agree:active {
  background: #1e739e;
  border-color: #1e739e;
}

.violator .violator-button .button.agree:active span {
  color: #ffffff;
}

.violator .violator-button .button.disagree {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: disagree;
  opacity: 0.4;
  font-weight: 300;
}

.violator .violator-button .button.disagree:hover, .violator .violator-button .button.disagree:focus {
  opacity: 1;
}
