/* NEWS MEDIA PAGE END */

.news-media-page {
    margin          : 1em 0;
    background-color: #ffffff;
    color           : #ffffff;
    overflow-x      : hidden;
}

.news-media-page .row .news-iframe {
    display   : block;
    background: #FFFFFF;
    height    : 100vh;
    width     : 100vw;
}

/* NEWS MEDIA PAGE END */