/* REQUEST ACCESS HOSPITAL START */
.request-access-page {
    height : 100%;
    width  : 100%;
    padding: 1rem 2rem !important;
    color  : #707070;
}

.request-access-page .breadcrumbs {
    font-size: 12px;
}

.request-access-page .login-container {
    height : 100%;
    width  : 100%;
    padding: 1rem 5rem;
}

.request-access-page .login-container .message {
    margin    : 1rem auto;
    font-style: italic;
    color     : #8e8e8e;
}

.request-access-page .contact-number-header {
    margin: 12px auto;
}

.request-access-page .contact-numbers {
    margin     : 12px auto;
    font-weight: 600;
}

.request-access-page .card-headers {
    margin-left: 15px;
}

.request-access-page .input-field-text {
    width        : 100%;
    margin       : 0.5rem auto;
    padding      : 1rem;
    padding-left : 2rem;
    height       : 40px;
    border-radius: 3px;
    border       : 1px solid #ababab;
}

.request-access-page .input-field-text::-webkit-input-placeholder {
    font-style : italic;
    color      : #cccccc;
    font-weight: 200;
}

.request-access-page .input-field-text:-ms-input-placeholder {
    font-style : italic;
    color      : #cccccc;
    font-weight: 200;
}

.request-access-page .input-field-text::-ms-input-placeholder {
    font-style : italic;
    color      : #cccccc;
    font-weight: 200;
}

.request-access-page .select-field {
    margin          : 0.5rem auto;
    padding-left    : 0.3rem;
    height          : 40px;
    background-color: #ffffff;
    width           : 100%;
    border-radius   : 3px;
    border          : 1px solid #ababab;
}

.request-access-page .submit-btn {
    width        : 100%;
    color        : #238acf;
    border-radius: 3px;
    height       : 40px;
    font-size    : 17px;
    margin       : 1rem auto;
}

/* .request-access-page .hospital-details-container {} */

.request-access-page .hospital-details-container.covid-admissions {
    height: 80%;
}

.request-access-page .hospital-card-detail.covid-admissions {
    height: 100%;
}

.request-access-page .hospital-card-detail {
    -webkit-transition   : all 200ms ease-in-out;
    transition           : all 200ms ease-in-out;
    /* margin            : 1em 1rem; */
    display              : flex;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .request-access-page {
        padding: 0 !important;
    }

    .request-access-page .login-container {
        padding: 0 !important;
        margin : 2rem auto;
    }

    .request-access-page .hospital-card-detail {
        flex-wrap: wrap;
    }
}

.request-access-page .hospital-card-detail .left-bar {
    width        : 100%;
    border-radius: 20px 0px 0px 20px;
    padding      : 3rem;
}

.request-access-page .hospital-card-detail .left-bar.blue {
    color     : #ffffff;
    background: #238acf;
}

.request-access-page .hospital-card-detail .hospital-card-detail-bottom {
    padding           : 1rem 2rem;
    border-radius     : 0 0 5px 5px;
    border            : 1px solid black;
    -webkit-transition: all 200ms ease-in-out;
    transition        : all 200ms ease-in-out;
    width             : 100%;
    height            : auto;
}

.request-access-page .hospital-card-detail .hospital-name {
    font-weight: 500;
}

.request-access-page .hospital-card-detail .headline {
    font-weight: 500;
}

.request-access-page .hospital-card-detail small {
    display: block;
    margin : 5px 0;
    color  : #727272;
}

.request-access-page .hospital-card-detail p {
    margin     : 3.5rem auto;
    line-height: 1.5;
}

.request-access-page .hospital-card-detail span {
    display           : block;
    -webkit-transition: 100ms ease;
    transition        : 100ms ease;
}

.request-access-page .hospital-card-detail span::after {
    font-family      : 'icomoon' !important;
    content          : '\e904';
    -webkit-transform: rotate(-90deg);
    transform        : rotate(-90deg);
    display          : inline-block;
    margin-left      : 0.25em;
}

.request-access-page .hospital-card-detail span:hover,
.request-access-page .hospital-card-detail span:focus {
    font-weight: 600;
}

.request-access-page .hospital-card-detail span:active {
    font-weight    : 600;
    text-decoration: underline;
}

.request-access-page .hospital-card-detail span.blue {
    color: #238acf;
}

.request-access-page .hospital-card-detail:hover .hospital-card-detail-bottom,
.request-access-page .hospital-card-detail:focus .hospital-card-detail-bottom {
    border            : 1px solid;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.05);
    box-shadow        : 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.05);
}

.request-access-page .hospital-card-detail:hover .hospital-card-detail-bottom.blue,
.request-access-page .hospital-card-detail:focus .hospital-card-detail-bottom.blue {
    border-color: #238acf;
}

/* REQUEST ACCESS HOSPITAL END */