.button {
    border: 1px solid;
    padding: 0.6em 0.8em;
    border-radius: 5px;
    transition: 200ms ease-in-out;
    text-align: center;
    cursor: pointer;
    user-select: none;
    align-items: center;

    &:hover, &:focus {
        box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    }
    &:active {
        transform: scale(1.02);
    }
}
