$colors: (
    signature: #299bd7,
    blue-dark: #333a72,
    blue-light: #53c3ea,
    blue-1: #44aadc,
    blue-2: #2692c7,
    blue-3: #1e739e,
    blue-4: #12445d,
    indigo-1: #8c9be9,
    indigo-2: #6f82e4,
    indigo-3: #4860dd,
    indigo-4: #1e339c,
    violet-1: #ae90ea,
    violet-2: #9a74e5,
    violet-3: #7d4dde,
    violet-4: #4a1fa1,
    red-1: #e88192,
    red-2: #e15d73,
    red-3: #ce2743,
    red-4: #7b1728,
    orange-1: #e18a5e,
    orange-2: #d96931,
    orange-3: #af5021,
    orange-4: #672f14,
    yellow-1: #ddc446,
    yellow-2: #ceb227,
    yellow-3: #b89f23,
    yellow-4: #9e881e,
    green-1: #3cb723,
    green-2: #339d1e,
    green-3: #287c18,
    green-4: #18490e,
    cyan-1: #22b39b,
    cyan-2: #1d9a85,
    cyan-3: #177969,
    cyan-4: #0e473e,
    grey: #727272,
    medium: #cccccc,
    light: #f2f2f2,
    lighter: #f8f9f9,
    lightest: #ffffff,
    dark: #3d3d3d,
    darkest: #000000,
    default: #1e739e,
    dropped: #3d3d3d,
    qualified: #22b39b,
    unreachable: #ce2743,
    dismissed: #727272,
    elsewhere: #4860dd,
    referred: #7d4dde,
    in-progress: #0e473e,
    recovered: #339d1e,
    deceased: #000000
);

@function color($color-name){
    @return map-get($colors, $color-name)
};

